.container
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js')
  h1 Website Administration
  uib-tabset(active='active')
    uib-tab(index='0', heading='Users')
      usermanager
    uib-tab(index='1', heading='Announcements')
      announcementmanager
    uib-tab(index='2', heading='Class Schedule')
      schedulemanager
