form(name='form', ng-submit="$ctrl.submitUser(form)", novalidate='', ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}")
  .modal-header
    button.close(type='button', aria-label='Close' ng-click='$ctrl.cancel()')
      span(aria-hidden='true') &times;
    h4.modal-title Edit User
  .modal-body
    .row
      .form-group.col-md-6
        label First name
        input.form-control(type='text', name='firstName', id='firstName', ng-model='$ctrl.user.firstName', maxlength='20', autofocus='', required='true', placeholder='First name')
        p.help-block.has-error(ng-show='form.firstName.$invalid && $ctrl.submitted')
          | First name is required
      .form-group.col-md-6
        label Last name
        input.form-control(type='text', name='lastName', id='lastName', ng-model='$ctrl.user.lastName', maxlength='20', required='true', placeholder='Last name')
        p.help-block.has-error(ng-show='form.lastName.$invalid && $ctrl.submitted')
          | Last name is required
      span(ng-if="$ctrl.user.provider=='local'")
        .form-group.col-md-6
          label New password
          input.form-control(type='password', name='password', id='password', ng-model='$ctrl.user.password', sequelize-error='', maxlength='20', placeholder='Password')
          p.help-block.has-error(ng-show='form.password.$error.sequelize')
            | {{ $ctrl.errors.password }}
        .form-group.col-md-6
          label Confirm
          input.form-control(type='password', name='passwordConfirm', id='passwordConfirm', ng-model='$ctrl.user.passwordConfirm', compare-to='$ctrl.user.password', maxlength='20', placeholder='Confirm')
          p.help-block.has-error(ng-show='form.passwordConfirm.$invalid && $ctrl.submitted')
            | Passwords must match
        .form-group.col-md-6
          label Email
          input.form-control(type='email', name='email', id='email', ng-model='$ctrl.user.email', sequelize-error='', maxlength='80', required='true', placeholder='Email', autocomplete='off')
          p.help-block.has-error(ng-show='form.email.$error.email && $ctrl.submitted')
            | Please provide a valid email address
          p.help-block.has-error(ng-show='form.email.$error.required && $ctrl.submitted')
            | Please provide an email address
          p.help-block.has-error(ng-show='form.email.$error.sequelize')
            | {{ $ctrl.errors.email }}
      .form-group.col-md-6
        label Phone
        input.form-control(type='tel', name='phone', id='phone', ng-model='$ctrl.user.phone', maxlength='20', placeholder='Phone')
      .form-group.col-md-6
        label Role
        select.form-control(name='role', id='role', ng-model='$ctrl.user.role')
          option(value='admin') Administrator
          option(value='student') Student
          option(value='teacher') Teacher
      .form-group.col-md-6
        label Opt-out
        select.form-control(name='optOut', id='optOut', ng-model='$ctrl.user.optOut', ng-options="(item?'Yes':'No') for item in [true, false]")
  .modal-footer
    button.btn.btn-default(id='cancel', type='button', ng-click="$ctrl.cancel()") Cancel
    button.btn.btn-warning(id='update', type='submit', style='width:70px;') Save
