.container
  h2 User Administration
  .row
    .col-md-5.col-xs-7
      .form-group
        label.sr-only Find User
        .input-group
          input.form-control(type='search', ng-model='admin.search', autofocus='', placeholder="User's name, phone or email address")
          span.input-group-btn
            a.btn.btn-primary
              span.glyphicon.glyphicon-search 
              |&nbsp;Search
  .row
    .col-md-12
      p(ng-show='admin.users.length==0') Loading...
      table.table.table-striped(ng-hide='admin.users.length==0')
        thead
          th(ng-click="admin.sort('lastName')") Name (click to edit)
            span.glyphicon.sort-icon(ng-show="admin.sortKey=='lastName'", ng-class="{'glyphicon-chevron-up':admin.reverse,'glyphicon-chevron-down':!admin.reverse}")
          th(ng-click="admin.sort('email')") Email 
            span.glyphicon.sort-icon(ng-show="admin.sortKey=='email'", ng-class="{'glyphicon-chevron-up':admin.reverse,'glyphicon-chevron-down':!admin.reverse}")
          th(ng-click="admin.sort('phone')") Phone 
            span.glyphicon.sort-icon(ng-show="admin.sortKey=='phone'", ng-class="{'glyphicon-chevron-up':admin.reverse,'glyphicon-chevron-down':!admin.reverse}")
          th(ng-click="admin.sort('optOut')") Opt out
            span.glyphicon.sort-icon(ng-show="admin.sortKey=='optOut'", ng-class="{'glyphicon-chevron-up':admin.reverse,'glyphicon-chevron-down':!admin.reverse}")
          th(ng-click="admin.sort('role')") Role
            span.glyphicon.sort-icon(ng-show="admin.sortKey=='role'", ng-class="{'glyphicon-chevron-up':admin.reverse,'glyphicon-chevron-down':!admin.reverse}")
          th 
        tbody
          tr(dir-paginate='user in admin.users|orderBy:admin.sortKey:admin.reverse|filter:admin.search|itemsPerPage:10')
            td
              a(ng-click="admin.open(user)") {{ user.lastName }}, {{ user.firstName }}
            td
              a(href='mailto:{{ user.email }}') {{ user.email }}
            td
              a(href='tel:{{ user.phone }}') {{ user.phone }}
            td {{ user.optOut ? 'Yes' : 'No' }}
            td {{ user.role }}
            td
              a.trash(ng-click='admin.delete(user)')
                span.glyphicon.glyphicon-trash.pull-right
                
      dir-pagination-controls(max-size='5', direction-links='true', boundary-links='true')
