form(name='form', ng-submit="$ctrl.submitUser(form)", novalidate='')
  .modal-header
    button.close(type='button', aria-label='Close' ng-click='$ctrl.cancel()')
      span(aria-hidden='true') &times;
    h4.modal-title Edit User
  .modal-body
    .row
      .form-group.col-md-6(ng-class='{ "has-success": form.firstName.$valid, "has-error": form.firstName.$invalid }')
        label First name
        input.form-control(type='text', id='firstName', ng-model='$ctrl.user.firstName', maxlength='20', autofocus='', ng-required='true', placeholder='First name')
        p.help-block(ng-show='form.firstName.$invalid && !form.firstName.$pristine')
          | First name is required
      .form-group.col-md-6
        label Last name
        input.form-control(type='text', id='lastName', ng-model='$ctrl.user.lastName', maxlength='20', ng-required='true', placeholder='Last name')
      span(ng-if="user.provider=='local'")
        .form-group.col-md-6
          label Reset Password
          input.form-control(type='password', id='password', ng-model='$ctrl.user.password', ng-minlength='5', maxlength='20', placeholder='Password')
        .form-group.col-md-6
          label Confirm
          input.form-control(type='password', id='passwordconfirm', ng-model='$ctrl.user.passwordconfirm', ng-minlength='5', maxlength='20', placeholder='Confirm')
        .form-group.col-md-6
          label Email
          input.form-control(type='email', id='email', ng-model='$ctrl.user.email', maxlength='80', ng-required='true', placeholder='Email')
      .form-group.col-md-6
        label Phone
        input.form-control(type='tel', id='phone', ng-model='$ctrl.user.phone', maxlength='20', placeholder='Phone')
      .form-group.col-md-6
        label Role
        select.form-control(id='role', ng-model='$ctrl.user.role')
          option(value='admin') Administrator
          option(value='student') Student
          option(value='teacher') Teacher
      .form-group.col-md-6
        label Opt-out
        select.form-control(id='optOut', ng-model='$ctrl.user.optOut', ng-options="(item?'Yes':'No') for item in [true, false]")
  .modal-footer
    button.btn.btn-default(id='cancel', ng-click="$ctrl.cancel()") Cancel
    button.btn.btn-primary(id='update', type='submit', ng-disabled='!form.$valid') Update
