.container
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js')
  h1 Website Administration
  h2 Users
  .row
    .col-md-5.col-xs-7
      form.form(name='findUserForm', ng-submit='$ctrl.searchUsers(findUserForm)', novalidate='', ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}")
        .form-group
          label.sr-only Find User
          .input-group
            input.form-control(name='filterField', id='filterField', type='search', ng-model='$ctrl.filterField', ng-minlength='3', required='', autofocus='', placeholder="User's name, phone or email address")
            span.input-group-btn
              button.btn.btn-primary(id='submitButton', type='submit')
                span.glyphicon.glyphicon-search 
                |&nbsp;Search
          p.help-block.has-error(ng-show='findUserForm.filterField.$invalid && $ctrl.submitted')
            | Please enter at least the first three characters of the user's first or last name (or email address)
    .col-md-3.col.xs-3
      a.btn.btn-warning(ng-click="$ctrl.createUser()") New User
  .row
    .col-md-12
      p(ng-show='$ctrl.users.length==0') No users found meeting the search criteria above
      table.table.table-striped(ng-hide='$ctrl.users.length==0')
        thead
          th(ng-click="$ctrl.sort('lastName')") Name (click to edit)
            span.glyphicon.sort-icon(ng-show="$ctrl.sortKey=='lastName'", ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}")
          th(ng-click="$ctrl.sort('email')") Email 
            span.glyphicon.sort-icon(ng-show="$ctrl.sortKey=='email'", ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}")
          th(ng-click="$ctrl.sort('phone')") Phone 
            span.glyphicon.sort-icon(ng-show="$ctrl.sortKey=='phone'", ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}")
          th(ng-click="$ctrl.sort('optOut')") Opt out
            span.glyphicon.sort-icon(ng-show="$ctrl.sortKey=='optOut'", ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}")
          th(ng-click="$ctrl.sort('role')") Role
            span.glyphicon.sort-icon(ng-show="$ctrl.sortKey=='role'", ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}")
          th 
        tbody
          tr(dir-paginate='user in $ctrl.users|orderBy:$ctrl.sortKey:$ctrl.reverse|itemsPerPage:8')
            td
              a.edit(ng-click="$ctrl.editUser(user)") {{ user.lastName }}, {{ user.firstName }}
            td
              a(href='mailto:{{ user.email }}') {{ user.email }} ({{ user.provider }})
            td
              a(href='tel:{{ user.phone }}') {{ user.phone }}
            td {{ user.optOut ? 'Yes' : 'No' }}
            td {{ user.role }}
            td
              a.trash(ng-click='$ctrl.deleteUser(user)')
                span.glyphicon.glyphicon-trash.pull-right 
      dir-pagination-controls(max-size='5', direction-links='true', boundary-links='true')

  h2 Announcements
  .row
    .col-md-12
      p(ng-show='$ctrl.announcements.length==0') No announcements
      table.table.table-striped(ng-hide='$ctrl.announcements.length==0')
        thead
          th Section (click to edit)
          th Title
          th Description
          th Expires
          th 
        tbody
          tr(ng-repeat='announcement in $ctrl.announcements')
            td
              a.edit(ng-click='$ctrl.open(announcement)') {{ announcement.section }}
            td
              a.edit(ng-click='$ctrl.open(announcement)') {{ announcement.title }}
            td {{ announcement.description }}
            td {{ announcement.expires | date: 'd-MMM-yy h:mm a' }}
            td
              a.trash(ng-click='$ctrl.deleteAnnouncement(announcement)')
                span.glyphicon.glyphicon-trash.pull-right 
