.container
  h1 Pittsburgh Yoga School Locations
  hr
  .row
    .col-sm-3
      address
        h4#squirrel-hill Squirrel Hill
        |  2215-2217 Murray Avenue
        br
        |  Pittsburgh, PA 15217
      |  
      a.btn.btn-warning(href='https://goo.gl/maps/YRkLw47EC8M2', target='_blank') Directions
      br
      br
      |  Our Squirrel Hill school is located across the street from Eyetique, on the corner of Phillips and Murray Avenues.
      br
      |  Free and metered parking spaces are available. There is a City of Pittsburgh parking lot located on Phillips Avenue.
      br
    .col-sm-9
      .map-responsive
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d759.2361528117804!2d-79.92352977282381!3d40.4322253626211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f1feef0d63d7%3A0xabc7eb0e7346a9b9!2sSchoolhouse+Yoga!5e0!3m2!1sen!2sus!4v1470020444130', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
      .map-responsive
        iframe(src='https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1483899807219!6m8!1m7!1swJHnWEpmX-aUwvuR872N5Q!2m2!1d40.43231428860852!2d-79.92317164546498!3f129.08566511770485!4f-1.8504661311467885!5f2.299968626952992', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
  hr
  .row
    .col-sm-3
      address
        h4#east-liberty East Liberty
        |  5923 Baum Boulevard
        br
        |  Pittsburgh, PA 15206
      |  
      a.btn.btn-warning(href='https://goo.gl/maps/yte7NhG68p72', target='_blank') Directions
      br
      br
      |  Our East Liberty school is located by the AAA/Motor Square Garden building.
      br
      |  Free and metered parking spaces are available. There is a City of Pittsburgh parking lot located behind our building.
      br
    .col-sm-9
      .map-responsive
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.667409433646!2d-79.92938598539327!3d40.460497660901765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f3c367c99819%3A0x3b07c45a90aded94!2sSchoolhouse+Yoga!5e0!3m2!1sen!2sus!4v1470021475690', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
      .map-responsive
        iframe(src='https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1481551537475!6m8!1m7!1swkgxCjvm1whJGT0vJV3QoQ!2m2!1d40.460366586064!2d-79.92709997429016!3f347.5445481949827!4f-13.345590389034314!5f0.9806025064493039', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
  hr
  .row
    .col-sm-3
      address
        h4#north-hills North Hills
        |  7210 McKnight Road
        br
        |  Pittsburgh, PA 15237
      |  
      a.btn.btn-warning(href='https://goo.gl/maps/9QAV8cLDAh12', target='_blank') Directions
      br
      br
      |  Our North Hills school is located on the drive up to the Ross Park Mall.
      br
      |  We have a free parking lot at this location.
      br
    .col-sm-9
      .map-responsive
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.267809442455!2d-80.01269568467633!3d40.53567205632102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88348b578bfceebd%3A0xf43ca20cbed696a2!2sSchoolhouse+Yoga!5e0!3m2!1sen!2sus!4v1470021743313', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
      .map-responsive
        iframe(src='https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1470021801096!6m8!1m7!1sA_Qp961G0EGLab7onc_kWA!2m2!1d40.53565569058058!2d-80.01080144054318!3f72.35354051450302!4f8.051221515833191!5f1.9587109090973311', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')