* text=auto

# These files are text and should be normalized (Convert crlf => lf)
*.css  text
*.scss text
*.js   text
*.mjs  text
*.html text
*.json text
*.md   text
*.txt  text
*.pug  text
*.yml  text
*.env  text
*.xml  text

# Denote all files that are truly binary and should not be modified.
# (binary is a macro for -text -diff)
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.mov  binary
*.mp4  binary
*.mp3  binary
*.gz   binary
*.zip  binary
*.7z   binary
*.ttf  binary

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
