form(name='form', ng-submit="$ctrl.submit(form)", novalidate='', ng-model-options="{'timezone':'UTC','updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}")
  .modal-header
    button.close(type='button', aria-label='Close' ng-click='$ctrl.cancel()')
      span(aria-hidden='true') &times;
    h4.modal-title Edit History
  .modal-body
    .row
      .form-group.col-md-12
        label(for='when') When
        .input-group
          input.form-control(id='when', name='when', type='text', autofocus='', uib-datepicker-popup='d-MMM-yy', alt-input-formats='MM/dd/yyyy', datepicker-options='$ctrl.dateOptions', is-open='$ctrl.datePickerOpened', ng-model='$ctrl.historyItem.when', placeholder='Transaction Date')
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='$ctrl.showCalendar()')
              i.far.fa-calendar-alt
        ng-messages.help-block.has-error(for='form.when.$error', ng-show='form.when.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter a date.
      span(ng-if="$ctrl.historyItem.type=='A'")
        .form-group.col-md-12
          label(for='teacher') Teacher
          select.form-control(name='teacher', id='teacher', ng-model='$ctrl.historyItem.teacherId', ng-options="teacher._id as teacher.lastName + ', ' + teacher.firstName for teacher in $ctrl.teachers | orderBy: 'lastName'")
        .form-group.col-md-12
          label(for='className') Class
          select.form-control(name='className', id='className', ng-model='$ctrl.historyItem.classId', ng-options="course._id as course.name for course in $ctrl.classes | orderBy: 'name'")
        .form-group.col-md-12
          label(for='location') Studio
            select.form-control(name='location', id='location', ng-model='$ctrl.historyItem.locationId', ng-options="location._id as location.name for location in $ctrl.locations | orderBy: 'name'")
      span(ng-if="$ctrl.historyItem.type=='P'")
        .form-group.col-md-12
          label(for='paymentMethod') Payment method
          select.form-control(name='paymentMethod', id='paymentMethod', ng-model='$ctrl.historyItem.paymentMethod', tabindex='2')
            option(value='Cash') Cash
            option(value='Credit Card') Credit Card
            option(value='Check') Check
            option(value='Gift Card') Gift Card
            option(value='Free') Free
        .form-group.col-md-12
          label(for='notes') Notes
          textarea.form-control(name='notes', id='notes', ng-model='$ctrl.historyItem.notes', rows='5', cols='20', placeholder='Notes', tabindex='3')
        .form-group.col-md-12
          label(for='quantity') Quantity
          input.form-control(type='number', name='quantity', id='quantity', ng-model='$ctrl.historyItem.quantity', required='true', maxlength='2', placeholder='Quantity')
          ng-messages.help-block.has-error(for='form.passwordConfirm.$error', ng-show='form.passwordConfirm.$dirty || form.$submitted', role='alert')
            ng-message(when='required') Please provide a quantity.
  .modal-footer
    button.btn.btn-default(id='cancel', type='button', ng-click="$ctrl.cancel()") Cancel
    button.btn.btn-warning(id='save', type='submit', style='width:70px;') Save
