form(name='form', ng-submit="$ctrl.submitUser(form)", novalidate='', ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}")
  .modal-header
    button.close(type='button', aria-label='Close' ng-click='$ctrl.cancel()')
      span(aria-hidden='true') &times;
    h4.modal-title {{ $ctrl.user._id === 0 ? 'New':'Edit'}} User
  .modal-body
    .row
      .form-group.col-md-6
        label(for='firstName') First name
        input.form-control(type='text', name='firstName', id='firstName', ng-model='$ctrl.user.firstName', maxlength='20', autofocus='', required='true', placeholder='First name')
        ng-messages.help-block.has-error(for='form.firstName.$error', ng-show='form.firstName.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the first name.
      .form-group.col-md-6
        label(for='lastName') Last name
        input.form-control(type='text', name='lastName', id='lastName', ng-model='$ctrl.user.lastName', maxlength='20', required='true', placeholder='Last name')
        ng-messages.help-block.has-error(for='form.lastName.$error', ng-show='form.lastName.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the last name.
      span(ng-if="$ctrl.user.provider=='local'")
        .form-group.col-md-6(ng-show='$ctrl.isAdmin()')
          label(for='passwordNew') New password
          input.form-control(type='password', name='passwordNew', id='passwordNew', ng-model='$ctrl.user.passwordNew', server-error='', ng-minlength='6', maxlength='20', placeholder='Password', autocomplete='new-password')
          ng-messages.help-block.has-error(for='form.passwordNew.$error', ng-show='form.passwordNew.$dirty || form.$submitted', role='alert')
            ng-message(when='minlength') Password must be at least 6 characters.
            ng-message(when='server') {{ $ctrl.errors.password }}
        .form-group.col-md-6(ng-show='$ctrl.isAdmin()')
          label(for='passwordConfirm') Confirm
          input.form-control(type='password', name='passwordConfirm', id='passwordConfirm', ng-model='$ctrl.user.passwordConfirm', compare-to='$ctrl.user.passwordNew', ng-required='$ctrl.user.password !== undefined', ng-minlength='6', maxlength='20', placeholder='Confirm', autocomplete='new-password')
          ng-messages.help-block.has-error(for='form.passwordConfirm.$error', ng-show='form.passwordConfirm.$dirty || form.$submitted', role='alert')
            ng-message(when='compareTo') Passwords must match.
            ng-message(when='required') Please confirm your new password.
      .form-group.col-md-6(ng-if="$ctrl.user._id === 0 || $ctrl.isAdmin()")
        label(for='email') Email
        input.form-control(type='email', name='email', id='email', ng-model='$ctrl.user.email', ng-change='$ctrl.clearServerError(form,"email")', server-error='', maxlength='80', required='true', placeholder='Email', autocomplete='off')
        ng-messages.help-block.has-error(for='form.email.$error', ng-show='form.email.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the email address.
          ng-message(when='email') Please provide a valid email address.
          ng-message(when='server') {{ $ctrl.errors.email }}
      .form-group.col-md-6
        label(for='optOut') Opt-out
        select.form-control(name='optOut', id='optOut', ng-model='$ctrl.user.optOut', ng-options="(item?'Yes':'No') for item in [true, false]")
      .form-group.col-md-6(ng-show='$ctrl.isAdmin()')
        label(for='provider') Provider
        select.form-control(name='provider', id='provider', ng-model='$ctrl.user.provider')
          option(value='local') Local
          option(value='google') Google
      .form-group.col-md-6(ng-show="$ctrl.user.provider=='google' && $ctrl.isAdmin()")
        label(for='google') Google ID
        textarea.form-control(id='google', name='google', json-text='', ng-model='$ctrl.user.google', ng-required="$ctrl.user.provider=='google'" rows='3', placeholder='Google JSON')
        ng-messages.help-block.has-error(for='form.google.$error', ng-show='form.google.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the Google JSON.
      .form-group.col-md-6(ng-show="$ctrl.isAdmin()")
        label(for='phone') Phone
        input.form-control(type='tel', name='phone', id='phone', ng-model='$ctrl.user.phone', maxlength='20', placeholder='Phone')
      .form-group.col-md-6(ng-show='$ctrl.isAdmin()')
        label(for='role') Role
        select.form-control(name='role', id='role', ng-model='$ctrl.user.role')
          option(value='admin') Administrator
          option(value='student') Student
          option(value='teacher') Teacher
      div(ng-if='$ctrl.isAdmin() && $ctrl.user.role !== "student"')
        .form-group.col-md-6
          label(for='displayOrder') Teacher's page display order
          input.form-control(type='number', name='displayOrder', id='displayOrder', ng-model='$ctrl.user.displayOrder', maxlength='2', placeholder='Number')
          ng-messages.help-block.has-error(for='form.displayOrder.$error', ng-show='form.displayOrder.$dirty || form.$submitted', role='alert')
            ng-message(when='number') Please enter an integer representing the order this teacher will appear.
        .form-group.col-md-6
          label(for='photo') Teacher photo
          input.form-control(ngf-select='$ctrl.uploadPhoto($file)', type='file', id='photo', name='photo', ng-model='$ctrl.user.photo', ngf-pattern="'image/*'", ngf-accept="'image/*'", ngf-max-size='100KB', ngf-min-height='276', ngf-max-height='276', ngf-min-width='236', ngf-max-width='236', ngf-resize='{width: 236, height: 276}', ngf-model-invalid='errorFile')
          ng-messages.help-block.has-error(for='form.photo.$error', ng-show='form.photo.$dirty || form.$submitted', role='alert')
            ng-message(when='maxSize') Please select a photo that is less than 100K.
            ng-message(when='minHeight') The image must be 236 x 276 pixels.
            ng-message(when='maxHeight') The image must be 236 x 276 pixels.
            ng-message(when='minWidth') The image must be 236 x 276 pixels.
            ng-message(when='maxWidth') The image must be 236 x 276 pixels.
          img(ng-if='$ctrl.user.imageId', src='/api/file/{{ $ctrl.user.imageId }}')
        .form-group.col-md-6
          label(for='bio') Bio
          textarea.form-control(id='bio', name='bio', ng-model='$ctrl.user.bio', rows='3', placeholder="Teacher's bio")
        .form-group.col-md-6
          label(for='url') Teacher's private URL
          textarea.form-control(id='url', name='url', ng-model='$ctrl.user.url', rows='3', placeholder="URL to teacher's website")
  .modal-footer
    button.btn.btn-default(id='cancel', type='button', ng-click="$ctrl.cancel()") Cancel
    button.btn.btn-warning(id='save', type='submit', style='width:70px;') Save
