footer {
	margin-top: 30px;
	margin-bottom: 0;
	padding: 40px 0;
	text-align: left;
	background-color: #5f4884;
	color: #c9bddb;
}

 footer a {
	color: #f0ad4e;
}

footer a:hover {
	color: #fff;
}

footer span {
	/* Follow us on Twitter or FaceBook */
	float: right;
}