.container
  .col-sm-3.col-md-2
    img.img-responsive(src='/assets/images/seal-panel.png', alt='Seal of Schoolhouse Yoga')
  .col-sm-9.col-md-10
    br
    p
      | Follow us on 
      a(href='https://twitter.com/schoolhouseyoga', target='_blank') Twitter
      |  | 
      a(href='https://facebook.com/schoolhouseyoga', target='_blank') Facebook
      |  | 
      a(href='https://instagram.com/schoolhouseyoga', target='_blank') Instagram
      |  | 
      a(href='https://www.youtube.com/watch?v=fxuAnP2GF0I&feature=youtu.be', target='_blank') YouTube
    p
      | Notices 
      a(href='/privacy') Privacy Policy
      |  | 
      a(href='/terms') Terms of Use
    p  &copy; Schoolhouse Yoga, Inc. / All Rights Reserved