.container
  .col-sm-3.col-md-2
    img.img-responsive(src='/assets/images/seal-panel.png', alt='Seal of Schoolhouse Yoga', srcset='/assets/images/seal.svg')
  .col-sm-9.col-md-10
    br
    p(itemscope='', itemtype='http://schema.org/SiteNavigationElement')
      a(href='/classes#squirrelhill', target='_self', itemprop='url') Squirrel Hill Classes
      |  | 
      a(href='/classes#eastliberty', target='_self', itemprop='url') East Liberty Classes
      |  | 
      a(href='/classes#northhills', target='_self', itemprop='url') North Hills Classes
    p
      | Follow us on 
      a(href='https://twitter.com/schoolhouseyoga', target='_blank') Twitter
      |  | 
      a(href='https://facebook.com/schoolhouseyoga', target='_blank') Facebook
      |  | 
      a(href='https://instagram.com/schoolhouseyoga', target='_blank') Instagram
      |  | 
      a(href='https://www.youtube.com/watch?v=fxuAnP2GF0I&feature=youtu.be', target='_blank') YouTube
    p(itemscope='', itemtype='http://schema.org/SiteNavigationElement')
      | Notices 
      a(href='/privacy', itemprop='url') Privacy Policy
      |  | 
      a(href='/terms', itemprop='url') Terms of Use
    p(itemscope='', itemtype='http://schema.org/WPFooter') &copy; 
      span(itemprop='copyrightYear') 2017
      |  
      span(itemprop='copyrightHolder') Schoolhouse Yoga, Inc.
      | - All Rights Reserved
