footer {
	margin-top: 30px;
	margin-bottom: 0;
	padding: 40px 0;
	text-align: left;
	background-color: $brand-primary;
	color: $shy-lavender;
}

 footer a {
	color: $shy-orange; // $shy-orange (should be)
}

footer a:hover {
	color: #fff;
}

footer span {
	/* Follow us on Twitter or FaceBook */
	float: right;
}