.banner(tabindex='-1')
  .container
    .row
      .col-lg-1.visible-lg
        img.img-responsive(src='/assets/images/seal-panel.png', alt='Seal of Schoolhouse Yoga')
      .col-lg-3.col-sm-4
        h5 Spread the love
        h4 Teacher Training&nbsp;
          .btn-group.btn-group-sm.pull-right.banner-btn
            a.btn.btn-warning(href='/register', type='button') More info
      br.visible-xs
      .col-lg-1.visible-lg
      .col-lg-3.col-sm-4
        h5 Show yourself some love
        h4 Classes&nbsp;
          .btn-group.btn-group-sm.pull-right.banner-btn
            a.btn.btn-warning(ng-click='$ctrl.Cart.addItem(4)', type='button') 12
            a.btn.btn-warning(ng-click='$ctrl.Cart.addItem(3)', type='button') 8
            a.btn.btn-warning(ng-click='$ctrl.Cart.addItem(2)', type='button') 4
            a.btn.btn-warning(ng-click='$ctrl.Cart.addItem(1)', type='button') 1
      br.visible-xs
      .col-lg-1.visible-lg
      .col-lg-3.col-sm-4
        h5 Give the gift of good health
        h4 Gift Cards&nbsp;
          .btn-group.btn-group-sm.pull-right.banner-btn
            a.btn.btn-warning(ng-click='$ctrl.Cart.addItem(8)', type='button') 12
            a.btn.btn-warning(ng-click='$ctrl.Cart.addItem(7)', type='button') 8
            a.btn.btn-warning(ng-click='$ctrl.Cart.addItem(6)', type='button') 4
            a.btn.btn-warning(ng-click='$ctrl.Cart.addItem(5)', type='button') 1