form(name='contactform', ng-submit='$ctrl.submitContact(contactform)', novalidate='')
  .modal-header
    button.close(type='button', ng-click='$dismiss()', tabindex='8') &times;
    h4#modal-label.modal-title Contact us
  .modal-body
    .form-group
      label.sr-only(for='firstname') First name
      input#firstname.form-control(name='firstname', autofocus='', ng-model='$ctrl.contact.firstName', type='text', maxlength='20', placeholder='First name', required='', tabindex='1')
      .help-block.has-error(ng-messages='contactform.firstname.$error', ng-show='contactform.firstname.$dirty || contactform.$submitted', role='alert')
        div(ng-message='required') Please provide your first name.
    .form-group
      label.sr-only(for='lastname') Last name
      input.form-control(name='lastname', ng-model='$ctrl.contact.lastName', type='text', maxlength='20', placeholder='Last name', required='', tabindex='2')
      .help-block.has-error(ng-messages='contactform.lastname.$error', ng-show='contactform.lastname.$dirty || contactform.$submitted', role='alert')
        div(ng-message='required') Please provide your last name.
    .form-group
      label.sr-only(for='email') Email address
      input.form-control(name='email', ng-model='$ctrl.contact.email', type='email', maxlength='80', placeholder='Email (optional)', tabindex='3')
      .help-block.has-error(ng-messages='contactform.email.$error', ng-show='contactform.email.$dirty || contactform.$submitted', role='alert')
        div(ng-message='required') Please supply an email address.
        div(ng-message='email') Please supply a valid email address.
    .form-group
      label.sr-only(for='question') Question or comment
      textarea.form-control(name='question', ng-model='$ctrl.contact.question', rows='5', cols='20', placeholder='Your question or comment', required='', tabindex='4')
      .help-block.has-error(ng-messages='contactform.question.$error', ng-show='contactform.question.$dirty || contactform.$submitted', role='alert')
        div(ng-message='required') Please provide a question or comment.
    .checkbox
      label
        input(type='checkbox', name='optout', ng-model='$ctrl.contact.optout', tabindex='5')
        | Do not subscribe to newsletter
  .modal-footer
    button.btn.btn-default(type='button', id='cancelButton' ng-click='$dismiss()', tabindex='6') Cancel
    button.btn.btn-warning(type='submit', id='submitButton', tabindex='7') Submit