.navbar.navbar-default.navbar-static-top(itemscope='', itemtype='http://schema.org/SiteNavigationElement')
  .container
    .navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/', ng-class='{active: $ctrl.isActive("/")}') Schoolhouse Yoga

    #navbar-main.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in $ctrl.menu', ng-class='{active: $ctrl.isActive(item.link)}')
          a(ng-href='{{item.link}}', ng-click='$ctrl.isCollapsed = true', itemprop='url') {{item.title}} 
            span.badge(ng-show='item.title == "Cart"') {{ $ctrl.Cart.getTotalItems() }}
        li(ng-show='$ctrl.isAdmin()', ng-class='{active: $ctrl.isActive("/admin")}')
          a(href='/admin', itemprop='url') Admin
        li(ng-show='$ctrl.isAdminOrTeacher()', ng-class='{active: $ctrl.isActive("/shynet")}')
          a(href='/shynet', itemprop='url') SHYnet
      ul.nav.navbar-nav.navbar-right
        li(uib-dropdown='', ng-show='$ctrl.isLoggedIn()')
          a(href='#', uib-dropdown-toggle='') Logged in as {{ $ctrl.getCurrentUser().firstName }}
            span.caret
          ul.dropdown-menu(uib-dropdown-menu='')
            li(ng-class='{active: $ctrl.isActive("/profile")}')
              a(href='/profile') Profile
            li
              a(href='/logout') Logout
        li(uib-dropdown='')
          a(href='#', uib-dropdown-toggle='')
            | Contact
            span.caret
          ul.dropdown-menu(uib-dropdown-menu='')
            li
              a(ng-click='$ctrl.contactModalOpen()')
                span.far.fa-envelope(aria-hidden='true')
                | &nbsp;&nbsp;Send a message online
            li
              a(href='tel:+1-412-401-4444')
                span.fas.fa-phone(aria-hidden='true')
                | &nbsp;&nbsp;Call +1 (412) 401-4444