.row.tab-spacer
  .col-md-12
    a.btn.btn-warning(id='new', ng-click='$ctrl.productCreate()')
      span.fas.fa-plus-circle
      |&nbsp;New Product
    br
    br
    p(ng-show='$ctrl.products.length==0') No products
    table.table.table-striped(ng-hide='$ctrl.products.length==0')
      thead
        th Name (click to edit)
        th Price
        th Active
        th 
      tbody
        tr(ng-repeat='product in $ctrl.products')
          td
            a.edit(ng-click='$ctrl.productEdit(product)')
              span.fas.fa-pencil-alt 
              |&nbsp;&nbsp;{{ product.name }} ({{ product._id }})
          td
            a.edit(ng-click='$ctrl.productEdit(product)') {{ product.price | currency:"$":0 }}
          td
            a.edit(ng-click='$ctrl.productEdit(product)') {{ product.active }}
          td
            a.trash(ng-click='$ctrl.productDelete(product)')
              span.far.fa-trash-alt
