.row.tab-spacer
  .col-md-6
    h2 Top 10 Classes (Last 90 days)
    table.table.table-striped.table-hover
      thead
        tr
          th Location
          th Class
          th Teacher
          th #
      tbody(ng-repeat='top10class in $ctrl.top10classes')
        tr
          td {{ top10class.location }}
          td {{ top10class.className }}
          td {{ top10class.teacher }}
          td {{ top10class.count }}
  .col-md-6
    h2 Top 10 Students (Last 90 days)
    table.table.table-striped.table-hover
      thead
        tr
          th Name
          th #
      tbody(ng-repeat='top10student in $ctrl.top10students')
        tr
          td {{ top10student.lastName }}, {{ top10student.firstName }}
          td {{ top10student.count }}
