.row.tab-spacer
  .col-md-6
    h2 Teacher Reimbursement (Last month) 
      a(href='/api/report/csv', download='teachers.csv', target='_self')
        span.fas.fa-file-csv
    table.table.table-condensed.table-striped
      tr
        th Teacher
        th Students
        th Amount
      tr(ng-repeat='teacherpay in $ctrl.teacherpay')
        td {{ teacherpay.teacher }}
        td {{ teacherpay.count }}
        td {{ teacherpay.amount | currency:"$":0 }}
    h2 Top 10 Students (Last 90 days)
    table.table.table-condensed.table-striped
      tr
        th Name
        th #
      tr(ng-repeat='top10student in $ctrl.top10students')
        td {{ top10student.lastName }}, {{ top10student.firstName }}
        td {{ top10student.count }}
  .col-md-6
    h2 Attendance by location (Last 90 days)
    br
    canvas.chart.chart-doughnut(id='doughnut', chart-data='$ctrl.piedata', chart-labels='$ctrl.pielabels', chart-options='{ legend: { display: true }}', chart-colors='["#00FF00","#0000FF","#00FFFF"]')
    br
  .col-md-6
    h2 Top 10 Attended Classes (Last 90 days)
    table.table.table-condensed.table-striped
      tr
        th Location
        th Class
        th Teacher
        th #
      tr(ng-repeat='top10class in $ctrl.top10classes')
        td {{ top10class.location }}
        td {{ top10class.className }}
        td {{ top10class.teacher }}
        td {{ top10class.count }}
  .col-md-6
    h2 Bottom 10 Attended Classes (Last 90 days)
    table.table.table-condensed.table-striped
      tr
        th Location
        th Class
        th Teacher
        th #
      tr(ng-repeat='bottom10class in $ctrl.bottom10classes')
        td {{ bottom10class.location }}
        td {{ bottom10class.className }}
        td {{ bottom10class.teacher }}
        td {{ bottom10class.count }}
  .col-md-6
    h2 North Hills Attendances (Previous quarter)
    h1(style='font-size: 72px;margin-top:5px;') {{ $ctrl.attendeesnhpq[0].count | number }}
.row
  .col-12
    h2 Attendance by location (Last 18 months)
    br
    canvas.chart.chart-line(id='chart', chart-options='$ctrl.chart.options', chart-series='$ctrl.chart.series', chart-data='$ctrl.chart.data', chart-labels='$ctrl.chart.labels', chart-colors='["#0000FF","#00FFFF","#00FF00"]')
