.location {
  background-color: #fff;
}

.studio {
  color: $brand-primary;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.table {
  border-bottom:0px !important;
}

.table th, .table td {
  border: 1px !important;
}

.fixed-table-container {
  border:0px !important;
}

.time {
    white-space: nowrap;
}

.canceled {
  text-decoration: line-through;
}

.day {
  font-weight: bold;
  background-color: #fff;
}