.container
  h1 SHYnet
  .row
    input#student_id(name='student_id', type='hidden')
    .col-sm-6.col-xs-12
      .panel.panel-primary
        .panel-heading
          h4 Students
        .panel-body
          .form(role='form', onkeypress="javascript:return WebForm_FireDefaultButton(event, 'FindStudent')")
            .form-group
              label.sr-only(for='SearchText') Find Student
              .input-group
                input#SearchText.form-control(name='SearchText', type='text', maxlength='20', autofocus='', placeholder="Student's first or last name")
                span.input-group-btn
                  a#FindStudent.btn.btn-warning(href="javascript:__doPostBack('FindStudent','')")
                    span.glyphicon.glyphicon-search
                    |  Search
            .form-group
              a#btnNewStudent.btn.btn-warning(data-toggle='modal', data-target='#NewStudent', href="javascript:__doPostBack('btnNewStudent','')")
                span.glyphicon.glyphicon-plus-sign
                |  New Student
          #loader(style='display:none;', role='status', aria-hidden='true')
            .text-center
              img(src='ajax-loader.gif', alt='Loading...')
              |  Searching for students...
          div
            table#gvStudents.table.table-striped.table-hover.table-condensed.table-bordered(cellspacing='0', rules='all', border='1', style='border-collapse:collapse;margin-bottom:0px;')
              tbody
                tr
                  td  No students found matching the search criteria.
    .col-sm-6.col-xs-12
      .panel.panel-primary
        .panel-heading
          h4 Class Attendees
        .panel-body
          .row
            .col-xs-12
              .form-group
                label.sr-only(for='title') Class
                |  
                select.form-control(name='title', id='title', ng-model='$ctrl.scheduleItem.title', ng-options="course.title as course.title for course in $ctrl.classes")
          .row
            .col-xs-6
              label.sr-only(for='txtClassDate') Class Date
              .input-group.date(data-provide='datepicker')
                input#txtClassDate.form-control(name='txtClassDate', type='text', value='04/30/2017', onchange="javascript:setTimeout('__doPostBack(\'txtClassDate\',\'\')', 0)", onkeypress='if (WebForm_TextBoxKeyHandler(event) == false) return false;')
                .input-group-addon
                  span.glyphicon.glyphicon-th
          .row
            .col-xs-12
              .input-group
                label.sr-only(for='location') Studio
                |  
                select.form-control(name='location', id='location', ng-model='$ctrl.scheduleItem.location', ng-options="location.name as location.name for location in $ctrl.locations")
                |  
                span.input-group-addon &nbsp;
                |  
                label.sr-only(for='teacher') Instructor
                |  
                select.form-control(name='teacher', id='teacher', ng-model='$ctrl.teacher', ng-options="teacher.firstName + ' ' + teacher.lastName as teacher.firstName + ' ' + teacher.lastName for teacher in $ctrl.teachers")
          .row
            .col-xs-12
              div
                table#gvAttendees.table.table-striped.table-hover.table-condensed.table-bordered(cellspacing='0', rules='all', border='1', style='border-collapse:collapse;margin-bottom:0px;')
                  tbody
                    tr
                      td(colspan='3')  No students in selected class.
    #pnlNewStudent(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'NewStudentOK')")
      #NewStudent.modal
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h4.modal-title New Student
            .modal-body
              .form-group
                label(for='firstName') First name
                |  
                input#firstName.form-control(name='firstName', type='text', maxlength='20', autofocus='', required='', placeholder='First name', style='margin-bottom:10px;')
              .form-group
                label(for='firstName') Last name
                |  
                input#lastName.form-control(name='lastName', type='text', maxlength='20', required='', placeholder='Last name')
            .modal-footer
              input#NewStudentCancel.btn.btn-default(type='submit', name='NewStudentCancel', value='Cancel', formnovalidate='', style='width:80px;')
              |  
              input#NewStudentOK.btn.btn-warning(type='submit', name='NewStudentOK', value='Save', style='width:80px;')
    #pnlPurchase(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'PurchaseClassesOK')")
      #PurchaseClasses.modal
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h4.modal-title Purchase classes for
            .modal-body
              .form-group
                label(for='NumberOfClasses') Number of classes
                |  
                input#NumberOfClasses.form-control(name='NumberOfClasses', type='text', autofocus='', required='', value='1', style='margin-bottom:10px;')
              .form-group
                label(for='lstPaymentType') Payment method
                |  
                select#lstPaymentType.form-control(name='lstPaymentType')
                  option(value='3f9b38fc-48c9-4c1b-a71f-516b3b602b13') Cash
                  option(value='d2ba5c3a-3b1e-445b-b522-39d01ec1d2a6') Check
                  option(value='4d57d677-3d9c-4b7c-ae7b-da859a21d523') Credit card
                  option(value='29c23cf3-4a60-440d-b865-c6f36a9fee73') IOU
                  option(value='bf66e6d8-56d8-4683-a448-1f74aa625a7c') Gift certificate
                  option(value='33e6600e-65b6-40be-a1d8-78908f9d1bd8') Free
                  option(value='d429c33f-f695-49b0-9905-a4a4035aaffa') Lulu
            .modal-footer
              a#PurchaseClassesCancel.btn.btn-default(href="javascript:__doPostBack('PurchaseClassesCancel','')", style='width:85px;') Cancel
              |  
              a#PurchaseClassesOK.btn.btn-warning(href="javascript:__doPostBack('PurchaseClassesOK','')", style='width:85px;') Purchase

