// previously @import '~angular-ui-bootstrap/src/datepickerPopup/popup';
.uib-datepicker-popup.dropdown-menu {
  display: block;
  float: none;
  margin: 0;
}

.uib-button-bar {
  padding: 10px 9px 2px;
}

.tab-spacer {
  margin-top: 20px!important;
}

.trash { color:rgb(209, 91, 71); }

.user-list {
	li {
		display: flex;
		border: none;
		border-bottom: 1px lightgray solid;
		margin-bottom: 0;
		&:last-child { border-bottom: none; }

		.user-info {
			flex-grow: 1;
		}
		.trash {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
}

th, td>a {
  cursor: pointer;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}
