.container
  h1 Pittsburgh Yoga Studio Locations

  hr(ng-repeat-start='location in $ctrl.locations')
  .row(ng-repeat-end)
    .col-sm-3
      address
        h2(id='{{ location.name | htmlid }}') {{ location.name }}
        |  {{ location.address }}
        br
        |  {{ location.city }}, {{ location.state }} {{ location.zipCode }}
      |  
      a.btn.btn-warning(href='{{ location.directions | trustedurl }}', target='_blank') Directions
      a.btn.btn-default.review(href='{{ location.review | trustedurl }}', target='_blank') Review Us
      br
      br
      p {{ location.note1 }}
      p {{ location.note2 }}
      br
    .col-sm-9
      .map-responsive
        iframe(src='{{ location.map | trustedurl }}', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
      .map-responsive
        iframe(src='{{ location.street | trustedurl }}', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')