.container
  h1 Yoga Classes in Pittsburgh
  p
    b Pittsburgh Yoga Studios
    | : 
    a(ng-href='/classes#squirrelhill') Squirrel Hill
    |  | 
    a(ng-href='/classes#eastliberty') East Liberty
    |  | 
    a(ng-href='/classes#northhills') North Hills
  .row
    .col-sm-6

      table.table.table-striped.table-hover
        //- One tbody per studio so we can nest 3 levels (ng-repeat-start/end only works w/2 levels)
        tbody(ng-repeat='studio in $ctrl.classSchedule')
          tr
            td.location(colspan='3')
              a(id='{{studio.location | htmlid}}')
              h2.studio {{studio.location}}
          tr(ng-repeat-start='day in studio.days')
            td.day(colspan='3') {{day.day | daytodate | date:'fullDate'}}
          tr(ng-repeat-end, ng-repeat='class in day.classes')
            td.time(ng-class='{canceled: class.canceled===true}') {{ class.startTime | date:'shortTime' : 'UTC' }}-{{ class.endTime | date:'shortTime' : 'UTC' }}
            td(ng-class='{canceled: class.canceled===true}')
              a(href='/classes#{{class.title | htmlid}}') {{class.title}} 
              span(ng-if='class.canceled===true') (Canceled)
            td(ng-class='{canceled: class.canceled===true}') 
              a(href='/teachers#{{ class.teacher | htmlid }}') {{class.teacher}}

    .col-sm-6
      div(ng-repeat="class in $ctrl.classes | orderBy:'name'")
        a(id='{{ class.title.split(" ").join("") | lowercase }}')
        h2 {{ class.name }} 
        p {{ class.description }}

script(src='dates.js')