form(name='form', ng-submit='$ctrl.submit(form)', novalidate='', ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}")
  .modal-header
    button.close(type='button', ng-click='$ctrl.cancel()', tabindex='8') &times;
    h2#modal-label.modal-title Add classes for {{ $ctrl.userGettingClasses.firstName }} {{ $ctrl.userGettingClasses.lastName }}
  .modal-body
    .form-group
      label(for='quantity') Quantity
      input.form-control(name='quantity', id='quantity', type='number', autofocus='', ng-model='$ctrl.purchase.quantity', min='1', max='100', placeholder='Quantity', required='', tabindex='1')
      ng-messages.help-block.has-error(for='form.quantity.$error', ng-show='form.quantity.$dirty || form.$submitted', role='alert')
        ng-message(when='required') Please enter a valid quantity.
        ng-message(when='min') The quantity must be at least 1.
        ng-message(when='max') The quantity must be less than 100.
    .form-group
      label(for='method') Payment method
      select.form-control(name='method', id='method', ng-model='$ctrl.purchase.method', tabindex='2')
        option(value='Cash') Cash
        option(value='Credit Card') Credit Card
        option(value='Check') Check
        option(value='Gift Card') Gift Card
        option(value='Free') Free
    .form-group
      label(for='notes') Notes
      textarea.form-control(name='notes', id='notes', ng-model='$ctrl.purchase.notes', rows='5', cols='20', placeholder='Notes', tabindex='3')
    .form-group
      label(for='createdAt') Purchased on
      .input-group
        input.form-control(id='createdAt', name='createdAt', type='text', uib-datepicker-popup='d-MMM-yy', alt-input-formats='MM/dd/yyyy', datepicker-options='$ctrl.dateOptions', is-open='$ctrl.datePickerOpened', ng-model='$ctrl.purchase.createdAt', placeholder='Purchased on')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='$ctrl.showCalendar()')
            i.far.fa-calendar-alt
      ng-messages.help-block.has-error(for='form.createdAt.$error', ng-show='form.createdAt.$dirty || form.$submitted', role='alert')
        ng-message(when='required') Please enter a purchase date.
  .modal-footer
    button.btn.btn-default(type='button', id='cancelButton' ng-click='$ctrl.cancel()', tabindex='6') Cancel
    button.btn.btn-warning(type='submit', id='submitButton', tabindex='7') Purchase