.row.tab-spacer
  form.form(name='findUserForm', ng-submit='$ctrl.searchUsers(findUserForm)', novalidate='', ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}")
    .col-xs-9(style='max-width:415px;')
      .form-group
        label.sr-only Find User
        .input-group
          input.form-control(name='filterField', id='filterField', type='search', ng-model='$ctrl.filterField', ng-minlength='3', required='', autofocus='', placeholder="First or last name")
          span.input-group-btn
            button.btn.btn-primary(id='submitButton', type='submit')
              span.fas.fa-plus-circle 
              |&nbsp;Search
    .col-xs-3
      a.btn.btn-warning(ng-click='$ctrl.createUser()') 
        span.fas.fa-plus-circle 
        |&nbsp;New User
  p.help-block.has-error(ng-show='findUserForm.filterField.$invalid && $ctrl.submitted')
        | Please enter at least the first three characters of the user's first or last name
        
.row
  .col-md-12
    p(ng-show='$ctrl.users.length==0') No users found meeting the search criteria.
    table.table.table-striped(ng-hide='$ctrl.users.length==0')
      thead
        th(ng-click="$ctrl.sortUsers('lastName')") Name (click to edit)
          span.fas.sort-icon(ng-show="$ctrl.sortKey=='lastName'", ng-class="{'fa-angle-up':$ctrl.reverse,'fa-angle-down':!$ctrl.reverse}")
        th(ng-hide='$ctrl.mini', ng-click="$ctrl.sortUsers('email')") Email 
          span.fas.sort-icon(ng-show="$ctrl.sortKey=='email'", ng-class="{'fa-angle-up':$ctrl.reverse,'fa-angle-down':!$ctrl.reverse}")
        th(ng-hide='$ctrl.mini', ng-click="$ctrl.sortUsers('phone')") Phone 
          span.fas.sort-icon(ng-show="$ctrl.sortKey=='phone'", ng-class="{'fa-angle-up':$ctrl.reverse,'fa-angle-down':!$ctrl.reverse}")
        th Classes
        th(style='text-align:right;') Action
      tbody
        tr(dir-paginate='user in $ctrl.users|orderBy:$ctrl.sortKey:$ctrl.reverse|itemsPerPage:8', pagination-id='users')
          td
            a.edit(ng-click="$ctrl.editUser(user)")
              span.fas.fa-pencil-alt 
              |&nbsp;&nbsp;{{ user.lastName }}, {{ user.firstName }}
          td(ng-hide='$ctrl.mini')
            a(href='mailto:{{ user.email }}')
              span.far.fa-envelope
              |&nbsp;&nbsp;{{ user.email }} ({{ user.provider }})
          td(ng-hide='$ctrl.mini')
            a(href='tel:{{ user.phone }}')
              span.fas.fa-phone
              |&nbsp;&nbsp;{{ user.phone }}
          td
            a.edit(ng-click="$ctrl.getHistory(user)")
              span.fas.fa-history
              | &nbsp;&nbsp;{{ user.balance }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a.edit(ng-click="$ctrl.addClasses(user)")
              span.fas.fa-plus-circle
          td
            span.fas.fa-arrow-circle-right.pull-right(ng-hide='!$ctrl.mini')
            | &nbsp; 
            a.trash(ng-hide='$ctrl.mini', ng-click='$ctrl.deleteUser(user)')
              span.far.fa-trash-alt.pull-right 
    dir-pagination-controls(pagination-id='users', max-size='5', direction-links='true', boundary-links='true')

.row(ng-hide='$ctrl.historyItems.length==0')
  .col-md-12
    ul.nav.nav-tabs
      li.active(role='presentation') 
        a History: {{ $ctrl.historyFor }}
    table.table.table-striped
      thead
        th(style='text-align: left;') Date
        th(style='text-align: left;') Description
        th(style='text-align: right;') Qty
        th(style='text-align: right;') Balance
        th(ng-hide='$ctrl.mini', style='text-align:right;') Action
      tbody
        tr(dir-paginate='historyItem in $ctrl.historyItems|itemsPerPage:8', pagination-id='history')
          td(style='text-align: left;')
            span(ng-hide='$ctrl.mini')
              a.edit(ng-click="$ctrl.historyItemEdit(historyItem)")
                span.fas.fa-pencil-alt
            |&nbsp;&nbsp;
            nobr {{ historyItem.when | date: 'd-MMM-yy' }}
          td {{ historyItem.what }}
          td(style='text-align: right;') {{ historyItem.quantity }}
          td(style='text-align: right;') {{ historyItem.balance }}
          td(ng-hide='$ctrl.mini')
            a.trash(ng-click='$ctrl.historyItemDelete(historyItem)')
              span.far.fa-trash-alt.pull-right
    dir-pagination-controls(pagination-id='history', max-size='5', direction-links='true', boundary-links='true')