.col-lg-9 {
  max-width: 415px;
}

.col-balance {
  text-align: right;
  width:85px;
}

.col-actions {
  text-align: center!important;
  width:95px;
}

.balance {
  text-align: right;
}

.actions {
  text-align: center;
}

.col-left {
  text-align: left;
}

.col-right {
  text-align: right;
}

.purchase {
  color: green;
}

.attendance {
  color: red;
}