.container
  h1 Website Administration
  uib-tabset(active='active')
    uib-tab(id='users', index='0', heading='Users')
      usermanager
    uib-tab(id='announcements', index='1', heading='Announcements')
      announcementmanager
    uib-tab(id='schedule', index='2', heading='Class Schedule')
      schedulemanager
    uib-tab(id='products', index='3', heading='Products')
      productmanager