.container
  h1 Teachers
  hr(ng-repeat-start='teacher in $ctrl.faculty')
  .row(ng-repeat-end)
    .col-md-2.col-md-offset-2
      img.img-responsive.teacher(src='{{teacher.photo}}', alt="Teacher's photo")
    .col-md-6
      h4(id='{{teacher.firstName + teacher.lastName | htmlid}}') {{teacher.firstName}} {{teacher.lastName}}
      |  {{teacher.bio}} 
      a(ng-if='teacher.url', href='{{teacher.url}}', target='_blank') Visit {{teacher.firstName}}&apos;s website
