.container
  h2 Teachers
  hr(ng-repeat-start='teacher in $ctrl.faculty')
  .row(ng-repeat-end)
    .col-md-2.col-md-offset-2
      img.img-responsive.teacher(src='{{teacher.photo}}', alt="Teacher's photo")
    .col-md-6
      h4(id='{{teacher.firstname + teacher.lastname | htmlid}}') {{teacher.firstname}} {{teacher.lastname}}
      |  {{teacher.bio}} 
      a(ng-if='teacher.url', href='{{teacher.url}}', target='_blank') Visit {{teacher.firstname}}&apos;s website
