form(name='form', ng-submit="$ctrl.submitScheduleItem(form)", novalidate='', ng-model-options="{'timezone':'UTC', 'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}")
  .modal-header
    button.close(type='button', aria-label='Close' ng-click='$ctrl.cancel()')
      span(aria-hidden='true') &times;
    h4.modal-title {{ $ctrl.scheduleItem._id === 0 ? 'New':'Edit'}} Schedule Item
  .modal-body
    .row
      .form-group.col-md-12
        label(for='location') Studio
        select.form-control(name='location', id='location', ng-model='$ctrl.scheduleItem.location', ng-options="location.name as location.name for location in $ctrl.locationService.locations | orderBy:'name'")
        ng-messages.help-block.has-error(for='form.location.$error', ng-show='form.location.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the studio name.
    .row
      .form-group.col-md-4
        label(for='day') Day
        select.form-control(name='day', id='day', ng-model='$ctrl.scheduleItem.day', ng-options="dayNumber*1+1 as dayName for (dayNumber, dayName) in $ctrl.weekdays")
        ng-messages.help-block.has-error(for='form.day.$error', ng-show='form.day.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the day of the week.
      .form-group.col-md-4
        label(for='startTime') Starts
        input.form-control(type='time', name='startTime', id='startTime', ng-model='$ctrl.scheduleItem.startTime', ng-model-options='$ctrl.options', required='true')
        ng-messages.help-block.has-error(for='form.startTime.$error', ng-show='form.startTime.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the start time.
          ng-message(when='time') Please enter a valid start time.
      .form-group.col-md-4
        label(for='endTime') Ends
        input.form-control(type='time', name='endTime', id='endTime', ng-model='$ctrl.scheduleItem.endTime', ng-model-options='$ctrl.options', required='true')
        ng-messages.help-block.has-error(for='form.endTime.$error', ng-show='form.endTime.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the end time.
          ng-message(when='time') Please enter a valid end time.
    .row
      .form-group.col-md-6
        label(for='className') Class Name
        select.form-control(name='className', id='className', ng-model='$ctrl.scheduleItem.title', ng-options="course.name as course.name for course in $ctrl.classService.classes | orderBy: 'name'")
        ng-messages.help-block.has-error(for='form.className.$error', ng-show='form.className.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the class name.
      .form-group.col-md-6
        label(for='teacher') Teacher
        select.form-control(name='teacher', id='teacher', ng-model='$ctrl.scheduleItem.teacher', ng-options="teacher.firstName + ' ' + teacher.lastName as teacher.lastName + ', ' + teacher.firstName for teacher in $ctrl.teacherService.teachers | orderBy:'lastName'")
        ng-messages.help-block.has-error(for='form.teacher.$error', ng-show='form.teacher.$dirty || form.$submitted', role='alert')
          ng-message(when='required') Please enter the teacher's name.
      .form-group.col-md-6
        label(for='canceled') Canceled
        select.form-control(name='canceled', id='canceled', ng-model='$ctrl.scheduleItem.canceled', ng-options="(item?'Yes':'No') for item in [true, false]")
  .modal-footer
    button.btn.btn-default(id='cancel', type='button', ng-click="$ctrl.cancel()") Cancel
    button.btn.btn-warning(id='save', type='submit', style='width:70px;') Save
