footer {
	margin-top: 30px;
	margin-bottom: 0;
	padding: 40px 0;
	text-align: left;
	background-color: $brand-primary;
	color: $shy-lavender;
}

.footer-text {
	margin-top: 20px;
}

img {
	margin-top: 10px;
}

 footer a {
	margin-right: 15px;
	color: $shy-lavender;
}

footer a:hover {
	color: $shy-orange;
}
