.container
  .col-sm-3.col-md-2
    img.img-responsive(src='/assets/images/logo.svg', alt='Seal of Schoolhouse Yoga', srcset='/assets/images/logo.svg')
  .col-sm-9.col-md-10.footer-text
    p(itemscope='', itemtype='http://schema.org/SiteNavigationElement')
      a(ng-href='/classes#squirrelhill', itemprop='url') Squirrel Hill
      a(ng-href='/classes#eastliberty', itemprop='url') East Liberty
      a(ng-href='/classes#northhills', itemprop='url') North Hills
    p
      a.social(href='https://twitter.com/schoolhouseyoga', target='_blank') 
        span.fab.fa-twitter.fa-2x
      a.social(href='https://facebook.com/schoolhouseyoga', target='_blank') 
        span.fab.fa-facebook-f.fa-2x
      a.social(href='https://instagram.com/schoolhouseyoga', target='_blank') 
        span.fab.fa-instagram.fa-2x
      a.social(href='https://www.youtube.com/watch?v=fxuAnP2GF0I&feature=youtu.be', target='_blank') 
        span.fab.fa-youtube.fa-2x
    p(itemscope='', itemtype='http://schema.org/SiteNavigationElement')
      a(href='/privacy', itemprop='url') Privacy Policy
      a(href='/terms', itemprop='url') Terms of Use
    p(itemscope='', itemtype='http://schema.org/WPFooter') &copy; 
      span(itemprop='copyrightYear') 2019
      |  
      span(itemprop='copyrightHolder') Schoolhouse Yoga, Inc.
      | - All Rights Reserved
