.container
  h1 Teachers
  .row(ng-if='teacher.displayOrder', ng-repeat='teacher in $ctrl.faculty')
    hr
    .col-md-2.col-md-offset-2
      span(ng-if='teacher.imageId')
        img.img-responsive.teacher(ng-src='/api/file/{{ teacher.imageId }}' alt="Photo of Teacher")
    .col-md-6
      h2(id='{{teacher.firstName + teacher.lastName | htmlid}}') {{teacher.firstName}} {{teacher.lastName}}
      |  {{teacher.bio}} 
      a(ng-if='teacher.url', href='{{teacher.url}}', target='_blank') Visit {{teacher.firstName}}&apos;s website
