.banner {
	color: $shy-lavender;
  background-color:  $brand-primary;
  padding: 20px 0;
	margin-bottom: 30px;

	h2 {
		color: #fff;
		margin-top: 0;
		margin-bottom: 3px;
	}

	h3 {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 7px;
	}
}

@media (max-width: 768px) {
	.passes {
		text-align: right;
	 } 
}
