.banner(tabindex='-1')
  .container
    .row
      //- .col-lg-2.col-sm-3.col-sm-offset-3.hidden-xs
        h2 Teacher Training
        h3 Spread the love
        a.btn.btn-warning(href='/teachertraining', alt='Yoga Teacher Training (in full)', type='button') More info
      .col-lg-offset-1.col-md-2.col-sm-3.col-sm-offset-4.col-lg-offset-3.col-xs-offset-6.passes
        h2 Class Passes
        h3 Treat yourself
        .btn-group
          a.btn.btn-warning(ng-click='$ctrl.addItem(4)', alt='Fifteen class pass', type='button') 15
          a.btn.btn-warning(ng-click='$ctrl.addItem(2)', alt='Five class pass', type='button') 5
          a.btn.btn-warning(ng-click='$ctrl.addItem(1)', alt='One class pass', type='button') 1
      .col-lg-2.col-md-offset-1.col-sm-3.hidden-xs
        h2 Gift Cards
        h3 The gift of good health
        .btn-group
          a.btn.btn-warning(ng-click='$ctrl.addItem(8)', alt='Gift card - Fifteen classes', type='button') 15
          a.btn.btn-warning(ng-click='$ctrl.addItem(6)', alt='Gift card - Five classes', type='button') 5
          a.btn.btn-warning(ng-click='$ctrl.addItem(5)', alt='Gift card - One class', type='button') 1