.banner(tabindex='-1')
  .container
    .row
      .col-lg-1.visible-lg
      .col-lg-3.col-sm-4
        h2 Teacher Training
        h3 Spread the love
        a.btn.btn-warning(href='/teachertraining', alt='Yoga Teacher Training (in full)', type='button') More info
      br.visible-xs
      .col-lg-1.visible-lg
      .col-lg-3.col-sm-4
        h2 Classes
        h3 Show yourself some love
        .btn-group
          a.btn.btn-warning(ng-click='$ctrl.addItem(4)', alt='Twelve class pass', type='button') 12
          a.btn.btn-warning(ng-click='$ctrl.addItem(3)', alt='Eight class pass', type='button') 8
          a.btn.btn-warning(ng-click='$ctrl.addItem(2)', alt='Four class pass', type='button') 4
          a.btn.btn-warning(ng-click='$ctrl.addItem(1)', alt='One class pass', type='button') 1
      br.visible-xs
      .col-lg-1.visible-lg
      .col-lg-3.col-sm-4
        h2 Gift Cards
        h3 Give the gift of good health
        .btn-group
          a.btn.btn-warning(ng-click='$ctrl.addItem(8)', alt='Gift card - Twelve classes', type='button') 12
          a.btn.btn-warning(ng-click='$ctrl.addItem(7)', alt='Gift card - Eight classes', type='button') 8
          a.btn.btn-warning(ng-click='$ctrl.addItem(6)', alt='Gift card - Four classes', type='button') 4
          a.btn.btn-warning(ng-click='$ctrl.addItem(5)', alt='Gift card - One class', type='button') 1