.row.tab-spacer
  .col-md-12
    a.btn.btn-warning(id='new', ng-click='$ctrl.locationCreate()')
      span.fas.fa-plus-circle
      |&nbsp;New Location
    br
    br
    p(ng-show='$ctrl.locations.length==0') No locations
    table.table.table-striped(ng-hide='$ctrl.locations.length==0')
      thead
        th(style='width: 20px;') &nbsp;
        th Name
        th Address
        th Active
        th 
      tbody
        tr(ng-repeat='location in $ctrl.locations')
          td
            a.edit(ng-click='$ctrl.locationEdit(location)')
              span.fas.fa-pencil-alt          
          td(style='width:230px;')
            a.edit(ng-click='$ctrl.locationEdit(location)') {{ location.name }}
          td
            a.edit(ng-click='$ctrl.locationEdit(location)') {{ location.address }}
            br
            | {{ location.city }}, {{ location.state }} {{ location.zipCode }}
          td {{ location.active }}
          td
            a.trash(ng-click='$ctrl.locationDelete(location)')
              span.far.fa-trash-alt
