.container
  h2 Workshops
  .row
    .col-sm-5
      form.form(name='subscriberform', ng-submit='$ctrl.subscribe(subscriberform)', ng-if='!$ctrl.subscribed')
        .form-group
          label.sr-only(for='email') Email address
          label.has-error(for='email', ng-show='!subscriberform.email.$valid && $ctrl.submitted') Please provide a valid email address.
          .input-group
            input.form-control(name='email', ng-model='$ctrl.subscriberEmail', type='email', maxlength='50', placeholder='Email address for newsletter', autofocus='', required='')
            .input-group-btn
                  input.btn.btn-warning(type='submit', value='Subscribe')
      p(ng-if='$ctrl.subscribed') Thanks for subscribing to our newsletter.
  hr(ng-repeat-start='workshop in $ctrl.data | upcoming')
  .row
    .col-md-5
      img.img-responsive.workshop-photo(src='{{workshop.image}}', alt='Workshop photo')
    .col-md-7
      a(id='{{workshop.title | htmlid | limitTo: 20}}')
      h4 {{workshop.title}}
      p
        | {{workshop.description}}
      p
        a(tweet, data-url='https://www.schoolhouseyoga.com/workshops#{{workshop.title | htmlid | limitTo: 20}}', data-text='{{workshop.title}} #shyoga', data-via='schoolhouseyoga', data-count='none') Tweet
      p(ng-repeat='section in workshop.sections | upcoming')
        addtocart(product='15')
        span(ng-if='section.title') {{section.title}}
          br
        b {{section.start | date:'EEEE, MMMM d'}}
        | &nbsp;&nbsp;|&nbsp;&nbsp;{{section.start | date:'shortTime'}} - {{section.expires | date:'shortTime'}}
        | &nbsp;&nbsp;|&nbsp;&nbsp;{{section.cost | currency:"$":0}}
        br
        a(href='/locations#{{section.location | htmlid}}') {{section.location}} {{section.productID}}
  span(ng-repeat-end)
