.input-group {
  margin-bottom: 20px!important;
}

.workshop-photo {
  border: 1px solid lightgray;
  margin-top: 0;
  margin-bottom: 10px;
}

h4 {
  margin-top: 0;
  margin-bottom: 3px;
}

.pull-right {
  margin-left: 10px;
}
