.container
  h2 Workshops
  .row
    .col-sm-5
      form.form(name='subscriberform', ng-submit='$ctrl.subscribe(subscriberform)', ng-hide='subscriberform.$submitted', novalidate='', ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}")
        .form-group
          label.sr-only(for='email') Email address
          .help-block.has-error(ng-messages='subscriberform.email.$error', ng-show='subscriberform.email.$dirty || subscriberform.$submitted', role='alert')
            div(ng-message='required') Please provide an email address.
            div(ng-message='email') Please provide a valid email address.
          .input-group
            input.form-control(name='email', ng-model='$ctrl.subscriber.email', type='email', maxlength='50', placeholder='Email address for newsletter', autofocus='', required='')
            .input-group-btn
              input.btn.btn-warning(type='submit', value='Subscribe', ng-disabled='subscriberform.$submitted && subscriberform.$valid')
      div(uib-alert='', ng-repeat="alert in $ctrl.alerts", ng-class='alert.type', close='$ctrl.closeAlert($index)') {{ alert.message }}
  hr(ng-repeat-start='workshop in $ctrl.workshops | upcoming')
  .row
    .col-md-5
      img.img-responsive.workshop-photo(src='{{workshop.photo}}', alt='Workshop photo')
    .col-md-7
      a(id='{{ workshop.title | htmlid | limitTo: 20 }}')
      h4 {{workshop.title}}
      p
        | {{workshop.description}}
      p
        tweet(url='https://www.schoolhouseyoga.com/workshops#{{workshop.title | htmlid | limitTo: 20}}', text='{{ workshop.title }} #shyoga')
      p(ng-repeat='section in workshop.sections | upcoming')
        paynow(product='{{ section.productID }}')
        span(ng-if='section.title') {{ section.title }}
          br
        b(ng-if='!section.nodate') {{ section.start | date:'EEEE, MMMM d' }} &nbsp;&nbsp;| &nbsp;&nbsp;
        | {{ section.start | date:'shortTime' }} - {{ section.expires | date:'shortTime' }}
        | &nbsp;&nbsp;|&nbsp;&nbsp;{{ section.cost | currency:"$":0 }}
        br
        a(href='/locations#{{ section.location | htmlid }}') {{ section.location }}
  span(ng-repeat-end)
