.container
  h2 Shopping Cart
  .row
    .col-md-6
      .panel.panel-default(aria-labelledby='cartPanelTitle')
        .panel-heading
          #cartPanelTitle.panel-title {{ $ctrl.Cart.getTotalItems() }} Items in your cart
        .panel-body
          table.table.table-hover.table-striped
            thead
              tr
                th.what-column What
                th Each
                th &nbsp;&nbsp;&nbsp;Qty
                th.extd Amount
                th &nbsp;
            tbody
              tr(ng-show='$ctrl.Cart.isEmpty()')
                td(colspan='4') There are no items in your cart.
              tr(ng-repeat='cartItem in $ctrl.Cart.cartItems track by $index')
                td.what.vert-align {{ cartItem.name }}
                td.vert-align {{ cartItem.price | currency:"$":0 }}
                td.vert-align
                  input.form-control.qty(ng-model='cartItem.quantity', ng-change='$ctrl.Cart.saveToStorage()', integeronly='', name='quantity', type='number', maxlength='2', min='1', max='20', required='', step='1')
                td.extd.vert-align {{ cartItem.getTotal() | currency:"$":0 }}
                td.vert-align
                  a(ng-click='$ctrl.Cart.removeItem($index)')
                    span.glyphicon.glyphicon-trash.pull-right.has-error
            tfoot
              tr
                td.total(colspan='4') Total&nbsp;&nbsp;{{ $ctrl.Cart.getTotalCost() | currency:"$":0 }}
        .panel-footer
          input.btn.btn-default(ng-click='$ctrl.keepShopping()', type='button', name='keepShopping', value='Keep Shopping')
          input.btn.btn-warning.pull-right(ng-click='$ctrl.checkOut()', type='submit', name='checkOut', value='Check Out »')
    .col-md-6
      .panel.panel-default(aria-labelledby='paymentPanelTitle')
        .panel-heading
          #paymentPanelTitle.panel-title Checkout
        .panel-body
          p 
            b Payment information
          .form-group
            label.sr-only Credit card number
            input#ccNumber.form-control.card-number(name='ccNumber', ng-model='$ctrl.checkOutInfo.ccNumber', autocomplete='cc-number', type='text', maxlength='16', placeholder='Debit/credit card number')
            span.has-error(style='display:none;') Please provide card number.
            span.has-error(style='display:none;') Please supply a valid card number.
          .form-group
            label.sr-only Expires
            .input-group
              select.form-control(name='ccExpMonth', ng-model='$ctrl.checkOutInfo.ccExpMonth', autocomplete='cc-exp-month')
                option(value='Month', ng-disabled='true') Month
                option(ng-repeat='month in $ctrl.months') {{ month }}
              span.input-group-addon /
              select.form-control(name='ccExpYear', ng-model='$ctrl.checkOutInfo.ccExpYear', autocomplete='cc-exp-year')
                option(value='Year', ng-disabled='true') Year
                option(ng-repeat='year in $ctrl.years') {{ year }}
            span.has-error(style='display:none;') Please select a month for your card&apos;s expiration date.
            span.has-error(style='display:none;') Please select a year for your card&apos;s expiration date.
          .form-group
            label.sr-only Credit card security code
            input.form-control.cvv(name='ccCSC', ng-model='$ctrl.checkOutInfo.ccCSC', autocomplete='cc-csc', type='text', maxlength='4', placeholder='CSC')
            span.has-error(style='display:none;') Please provide the card security code.
            span.has-error(style='display:none;') Please supply a valid security code.
          p 
            b Purchaser
          .form-group
            label.sr-only First name
            input.form-control(name='ccFirstName', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.ccFirstName', autocomplete='cc-given-name', type='text', maxlength='20', placeholder='First name')
            span.has-error(style='display:none;') Please provide the cardholder&apos;s first name.
          .form-group
            label.sr-only Last name
            input.form-control(name='ccLastName', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.ccLastName', autocomplete='cc-family-name', type='text', maxlength='20', placeholder='Last name')
            span.has-error(style='display:none;') Please provide the cardholder&apos;s last name.
          .form-group
            label.sr-only Address
            input.form-control(name='streetAddress', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.streetAddress', autocomplete='street-address', type='text', maxlength='255', placeholder='Street address')
            span.has-error(style='display:none;') Please provide the billing address.
          .form-group
            label.sr-only City
            input.form-control(name='city', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.city', autocomplete='address-level2', type='text', maxlength='20', placeholder='City')
            span.has-error(style='display:none;') Please provide the billing city.
          .form-group
            label.sr-only State
            select.form-control(name='state', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.state', autocomplete='address-level1')
              option(ng-repeat='state in $ctrl.states') {{ state }}
          .form-group
            label.sr-only ZIP code
            input.form-control(name='zipCode', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.zipCode', autocomplete='postal-code', type='text', maxlength='10', placeholder='ZIP code')
            span.has-error(style='display:none;') Please provide the billing ZIP code.
          .form-group
            label.sr-only Email address
            input.form-control(name='email', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.email', autocomplete='email', type='email', maxlength='80', placeholder='Email address')
            span.has-error(style='display:none;') Please provide the cardholder&apos;s email address.
            span.has-error(style='display:none;') Please supply a valid email address for the cardholder.
          .form-group
            label.sr-only Phone
            input.form-control(name='phone', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.phone', autocomplete='tel', type='tel', maxlength='14', placeholder='Phone')
            span.has-error(style='display:none;') Please provide the cardholder&apos;s phone number.
          .form-group
            label.sr-only Instructions
            textarea.form-control(name='instructions', ng-model='$ctrl.checkOutInfo.instructions', rows='2', cols='20', placeholder='Instructions')
          p 
            b Recipient
          .checkbox
            label
              input(type='checkbox', ng-click='$ctrl.forSomeoneElse()', ng-model='$ctrl.checkOutInfo.forSomeoneElse', name='forSomeoneElse')
              | This is for someone else. Please supply their info below.
          fieldset(ng-disabled='!$ctrl.checkOutInfo.forSomeoneElse')
            .form-group
              label.sr-only Recipient&apos;s first name
              input#recipientFirstName.form-control(name='recipientFirstName', ng-model='$ctrl.checkOutInfo.recipientFirstName', type='text', maxlength='14', placeholder="Recipient's first name")
              span.has-error(style='display:none;') Please provide the recipient&apos;s first name.
            .form-group
              label.sr-only Recipient&apos;s last name
              input.form-control(name='recipientLastName', ng-model='$ctrl.checkOutInfo.recipientLastName', type='text', maxlength='20', placeholder="Recipient's last name")
              span.has-error(style='display:none;') Please provide the recipient&apos;s last name.
            .form-group
              label.sr-only Recipient&apos;s address
              input.form-control(name='recipientAddress', ng-model='$ctrl.checkOutInfo.recipientAddress', type='text', maxlength='255',placeholder="Recipient's address")
              span.has-error(style='display:none;') Please provide the recipient&apos;s street address.
            .form-group
              label.sr-only Recipient&apos;s city
              input.form-control(name='recipientCity', ng-model='$ctrl.checkOutInfo.recipientCity', autocomplete='address-level2', type='text', maxlength='20', placeholder="Recipient's city")
              span.has-error(style='display:none;') Please provide the recipient&apos;s city.
            .form-group
              label.sr-only Recipient&apos;s state
              select.form-control(name='recipientState', ng-model='$ctrl.checkOutInfo.recipientState', autocomplete='address-level1')
                option(ng-repeat='state in $ctrl.states') {{ state }}
            .form-group
              label.sr-only Recipient&apos;s ZIP code
              input.form-control(name='recipientZipCode', ng-model='$ctrl.checkOutInfo.recipientZipCode', autocomplete='postal-code', type='text', maxlength='10', placeholder="Recipient's ZIP code")
              span(style='display:none;') Please provide the recipient&apos;s ZIP code.
            .form-group
              label.sr-only Recipient&apos;s email address
              input.form-control(name='recipientEmail', ng-model='$ctrl.checkOutInfo.recipientEmail', autocomplete='email', type='email', maxlength='80', placeholder="Recipient's email address")
              span(style='display:none;') Please provide the student&apos;s email address.
              span(style='display:none;') Please supply a valid email address for the student.
            .form-group
              label.sr-only Recipient&apos;s phone
              input.form-control(name='recipientPhone', ng-model='$ctrl.checkOutInfo.recipientPhone', autocomplete='tel', type='tel', maxlength='14', placeholder="Recipient's phone")
              span(style='display:none;') Please provide the recipient&apos;s phone number.
            p 
              b How to apply the credit
            .form-group
              input(type='radio', name='methodToSend', ng-model='$ctrl.checkOutInfo.methodToSend', value="Apply credit to recipient's account (default)") 
              label(for='methodToSend_3') Apply credit to recipient&apos;s account (default)
              br
              input(type='radio', name='methodToSend', ng-model='$ctrl.checkOutInfo.methodToSend', value='Mail gift card to purchaser') 
              label(for='methodToSend_0') Mail gift card to purchaser
              br
              input(type='radio', name='methodToSend', ng-model='$ctrl.checkOutInfo.methodToSend', value='Mail gift card to recipient') 
              label(for='methodToSend_1') Mail gift card to recipient
              br
              input(type='radio', name='methodToSend', ng-model='$ctrl.checkOutInfo.methodToSend', value='Email gift card to recipient') 
              label(for='methodToSend_2') Email gift card to recipient

          p Class cards and workshop purchases are non-refundable. Class cards expire six months from their purchase date.
        .panel-footer
          input.btn.btn-warning.pull-right(type='submit', ng-click='$ctrl.placeOrder()', name='placeOrder', value='Place Order')
          br
          br
