.container
  h2 Shopping Cart
  .row
    .col-md-6
      .panel.panel-default(aria-labelledby='cartPanelTitle')
        .panel-heading
          #cartPanelTitle.panel-title {{ $ctrl.Cart.getTotalItems() }} Items in your cart
        .panel-body
          table.table.table-hover.table-striped
            thead
              tr
                th.what-column What
                th Each
                th &nbsp;&nbsp;&nbsp;Qty
                th.extd Amount
                th &nbsp;
            tbody
              tr(ng-show='$ctrl.Cart.isEmpty()')
                td(colspan='4') There are no items in your cart.
              tr(ng-repeat='cartItem in $ctrl.Cart.cartItems track by $index')
                td.what.vert-align {{ cartItem.name }}
                td.vert-align {{ cartItem.price | currency:"$":0 }}
                td.vert-align
                  input.form-control.qty(ng-model='cartItem.quantity', ng-change='$ctrl.Cart.saveToStorage()', name='quantity', type='number', maxlength='2', min='1', max='20', required='', step='1')
                td.extd.vert-align {{ cartItem.getTotal() | currency:"$":0 }}
                td.vert-align
                  a(ng-click='$ctrl.Cart.removeItem($index)')
                    span.glyphicon.glyphicon-trash.pull-right.has-error
            tfoot
              tr
                td.total(colspan='4') Total&nbsp;&nbsp;{{ $ctrl.Cart.getTotalCost() | currency:"$":0 }}
        .panel-footer
          input.btn.btn-default(ng-click='$ctrl.keepShopping()', type='button', name='keepShopping', value='Keep Shopping')
          input.btn.btn-warning.pull-right(ng-click='', type='submit', name='checkOut', value='Check Out »')
    .col-md-6
      .panel.panel-default(aria-labelledby='paymentPanelTitle')
        .panel-heading
          #paymentPanelTitle.panel-title Payment Information
        .panel-body
          .form-group
            label.sr-only Credit card number
            |  
            input.form-control.card-number(name='ccNumber', autocomplete='cc-number', type='text', maxlength='16', placeholder='Debit/credit card number')
            |  
            span.has-error(style='display:none;') Please provide card number.
            |  
            span.has-error(style='display:none;') Please supply a valid card number.
          .form-group
            label.sr-only Expires
            .input-group
              select.form-control(name='ccExpMonth', autocomplete='cc-exp-month')
                option(selected='selected', value='0') Month
                option(value='01') 01
                option(value='02') 02
                option(value='03') 03
                option(value='04') 04
                option(value='05') 05
                option(value='06') 06
                option(value='07') 07
                option(value='08') 08
                option(value='09') 09
                option(value='10') 10
                option(value='11') 11
                option(value='12') 12
              |  
              span.input-group-addon /
              |  
              select.form-control(name='ccExpYear', autocomplete='cc-exp-year')
                option(selected='selected', value='0') Year
                option(value='15') 2015
                option(value='16') 2016
                option(value='17') 2017
                option(value='18') 2018
                option(value='19') 2019
                option(value='20') 2020
                option(value='21') 2021
                option(value='22') 2022
                option(value='23') 2023
                option(value='24') 2024
            |  
            span.has-error(style='display:none;') Please select a month for your card&apos;s expiration date.
            |  
            span.has-error(style='display:none;') Please select a year for your card&apos;s expiration date.
          .form-group
            label.sr-only Credit card security code
            |  
            input.form-control.cvv(name='ccCSC', autocomplete='cc-csc', type='text', maxlength='4', placeholder='CSC')
            |  
            span.has-error(style='display:none;') Please provide the card security code.
            |  
            span.has-error(style='display:none;') Please supply a valid security code.
          .form-group
            label.sr-only First name
            |  
            input.form-control(name='ccFirstName', autocomplete='cc-given-name', type='text', maxlength='20', placeholder='First name')
            |  
            span.has-error(style='display:none;') Please provide the cardholder&apos;s first name.
          .form-group
            label.sr-only Last name
            |  
            input.form-control(name='ccLastName', autocomplete='cc-family-name', type='text', maxlength='20', placeholder='Last name')
            |  
            span.has-error(style='display:none;') Please provide the cardholder&apos;s last name.
          .form-group
            label.sr-only Address
            |  
            input.form-control(name='streetAddress', autocomplete='street-address', type='text', maxlength='255', placeholder='Street address')
            |  
            span.has-error(style='display:none;') Please provide the billing address.
          .form-group
            label.sr-only City
            |  
            input.form-control(name='city', autocomplete='address-level2', type='text', maxlength='20', placeholder='City')
            |  
            span.has-error(style='display:none;') Please provide the billing city.
          .form-group
            label.sr-only State
            |  
            select.form-control(name='state', autocomplete='address-level1')
              option(value='AL') AL
              option(value='AK') AK
              option(value='AZ') AZ
              option(value='AR') AR
              option(value='CA') CA
              option(value='CO') CO
              option(value='CT') CT
              option(value='DE') DE
              option(value='DC') DC
              option(value='FL') FL
              option(value='GA') GA
              option(value='HI') HI
              option(value='ID') ID
              option(value='IL') IL
              option(value='IN') IN
              option(value='IA') IA
              option(value='KS') KS
              option(value='KY') KY
              option(value='LA') LA
              option(value='ME') ME
              option(value='MD') MD
              option(value='MA') MA
              option(value='MI') MI
              option(value='MN') MN
              option(value='MS') MS
              option(value='MO') MO
              option(value='MT') MT
              option(value='NE') NE
              option(value='NV') NV
              option(value='NH') NH
              option(value='NJ') NJ
              option(value='NM') NM
              option(value='NY') NY
              option(value='NC') NC
              option(value='ND') ND
              option(value='OH') OH
              option(value='OK') OK
              option(value='OR') OR
              option(selected='selected', value='PA') PA
              option(value='PR') PR
              option(value='RI') RI
              option(value='SC') SC
              option(value='SD') SD
              option(value='TN') TN
              option(value='TX') TX
              option(value='UT') UT
              option(value='VT') VT
              option(value='VA') VA
              option(value='WA') WA
              option(value='WV') WV
              option(value='WI') WI
              option(value='WY') WY
          .form-group
            label.sr-only ZIP code
            |  
            input.form-control(name='zipCode', autocomplete='postal-code', type='text', maxlength='10', placeholder='ZIP code')
            |  
            span.has-error(style='display:none;') Please provide the billing ZIP code.
          .form-group
            label.sr-only Email address
            |  
            input.form-control(name='email', autocomplete='email', type='email', maxlength='80', placeholder='Email address')
            |  
            span.has-error(style='display:none;') Please provide the cardholder&apos;s email address.
            |  
            span.has-error(style='display:none;') Please supply a valid email address for the cardholder.
          .form-group
            label.sr-only Phone
            |  
            input.form-control(name='phone', autocomplete='tel', type='tel', maxlength='14', placeholder='Phone')
            |  
            span.has-error(style='display:none;') Please provide the cardholder&apos;s phone number.
          .form-group
            label.sr-only Instructions
            textarea.form-control(name='instructions', rows='2', cols='20', placeholder='Instructions')
          .checkbox
            label
              input(type='checkbox', name='forSomeoneElse', ng-click='')
              |  This is for someone else. Please supply their info below.
          .aspNetDisabled
            .form-group
              label.sr-only Student&apos;s first name
              |  
              input.form-control(name='studentFirstName', type='text', maxlength='14', disabled='disabled', placeholder="Student's first name")
              |  
              span.has-error(style='display:none;') Please provide the student&apos;s first name.
            .form-group
              label.sr-only Student&apos;s last name
              |  
              input.form-control(name='studentLastName', type='text', maxlength='20', disabled='disabled', placeholder="Student's last name")
              |  
              span.has-error(style='display:none;') Please provide the student&apos;s last name.
            .form-group
              label.sr-only Student&apos;s address
              |  
              input.form-control(name='studentAddress', type='text', maxlength='255', disabled='disabled', placeholder="Student's address")
              |  
              span.has-error(style='display:none;') Please provide the student&apos;s street address.
            .form-group
              label.sr-only Student&apos;s city
              |  
              input.form-control(name='studentCity', autocomplete='address-level2', type='text', maxlength='20', disabled='disabled', placeholder="Student's city")
              |  
              span.has-error(style='display:none;') Please provide the student&apos;s city.
            .form-group
              label.sr-only Student&apos;s state
              |  
              select.form-control(name='studentState', autocomplete='address-level1', disabled='disabled')
                option(value='AL') AL
                option(value='AK') AK
                option(value='AZ') AZ
                option(value='AR') AR
                option(value='CA') CA
                option(value='CO') CO
                option(value='CT') CT
                option(value='DE') DE
                option(value='DC') DC
                option(value='FL') FL
                option(value='GA') GA
                option(value='HI') HI
                option(value='ID') ID
                option(value='IL') IL
                option(value='IN') IN
                option(value='IA') IA
                option(value='KS') KS
                option(value='KY') KY
                option(value='LA') LA
                option(value='ME') ME
                option(value='MD') MD
                option(value='MA') MA
                option(value='MI') MI
                option(value='MN') MN
                option(value='MS') MS
                option(value='MO') MO
                option(value='MT') MT
                option(value='NE') NE
                option(value='NV') NV
                option(value='NH') NH
                option(value='NJ') NJ
                option(value='NM') NM
                option(value='NY') NY
                option(value='NC') NC
                option(value='ND') ND
                option(value='OH') OH
                option(value='OK') OK
                option(value='OR') OR
                option(selected='selected', value='PA') PA
                option(value='PR') PR
                option(value='RI') RI
                option(value='SC') SC
                option(value='SD') SD
                option(value='TN') TN
                option(value='TX') TX
                option(value='UT') UT
                option(value='VT') VT
                option(value='VA') VA
                option(value='WA') WA
                option(value='WV') WV
                option(value='WI') WI
                option(value='WY') WY
            .form-group
              label.sr-only Student&apos;s ZIP code
              |  
              input.form-control(name='studentZIPCode', autocomplete='postal-code', type='text', maxlength='10', disabled='disabled', placeholder="Student's ZIP code")
              |  
              span(style='display:none;') Please provide the student&apos;s ZIP code.
            .form-group
              label.sr-only Student&apos;s email address
              |  
              input.form-control(name='studentEmail', autocomplete='email', type='email', maxlength='80', disabled='disabled', placeholder="Student's email address")
              |  
              span(style='display:none;') Please provide the student&apos;s email address.
              |  
              span(style='display:none;') Please supply a valid email address for the student.
            .form-group
              label.sr-only Student&apos;s phone
              |  
              input.form-control(name='studentPhone', autocomplete='tel', type='tel', maxlength='14', disabled='disabled', placeholder="Student's phone")
              |  
              span(style='display:none;') Please provide the student&apos;s phone number.
          |  
          span.aspNetDisabled(disabled='disabled')
            span.aspNetDisabled
              input(type='radio', name='methodToSend', value='Mail gift card to Purchaser', disabled='disabled')
              label(for='methodToSend_0') Mail gift card to Purchaser
            br
            span.aspNetDisabled
              input(type='radio', name='methodToSend', value='Mail gift card to Student', disabled='disabled')
              label(for='methodToSend_1') Mail gift card to Student
            br
            span.aspNetDisabled
              input(type='radio', name='methodToSend', value='Email gift card to Student', disabled='disabled')
              label(for='methodToSend_2') Email gift card to Student
            br
            span.aspNetDisabled
              input(type='radio', name='methodToSend', value="Apply credit to Student's account (default)", checked='checked', disabled='disabled')
              label(for='methodToSend_3') Apply credit to Student&apos;s account (default)
          br
          br
          p
            | Class cards and workshop purchases are non-refundable. Class cards expire six months from their purchase date.
        .panel-footer
          input.btn.btn-warning.pull-right(type='submit', ng-click='', name='placeOrder', value='Place Order')
          br
          br
