.container
  h2 Shopping Cart
  .row
    .col-md-6
      .panel.panel-default(aria-labelledby='cartPanelTitle')
        .panel-heading
          #cartPanelTitle.panel-title Items in your cart
        .panel-body
          table.table.table-hover
            thead
              tr
                th.what-column What
                th Each
                th &nbsp;&nbsp;&nbsp;Qty
                th.extd Amount
                th &nbsp;
            tbody
              tr(ng-repeat='cartItem in $ctrl.cartItems')
                td.what.vert-align Twelve class pass {{ cartItem.name }}
                td.vert-align $100 {{ cartItem.price }}
                td.vert-align
                  input.form-control.qty(value='2', name='quantity', type='number', maxlength='2', min='0', max='20', required='', step='1')
                td.extd.vert-align $200
                td.vert-align
                  a(ng-click='')
                    span.glyphicon.glyphicon-trash.pull-right.has-error
            tfoot
              tr
                td.total(colspan='4') Total&nbsp;&nbsp;$200
        .panel-footer
          input.btn.btn-default(ng-click='', type='button', name='keepShopping', value='Keep Shopping')
          input.btn.btn-warning.pull-right(ng-click='', type='submit', name='checkOut', value='Check Out »')

    .col-md-6(ng-repeat='product in $ctrl.products')
      p(style='height:50px;') {{ product.name }} (id = {{ product.id }}, price = {{ product.price }})
        addtocart(product='{{ product.id }}')
