.container
  h2 Shopping Cart
  .row
    .col-md-6
      .panel.panel-default(aria-labelledby='cartPanelTitle')
        .panel-heading
          #cartPanelTitle.panel-title {{ $ctrl.Cart.getTotalItems() }} Items in your cart
        .panel-body
          table.table.table-hover
            thead
              tr
                th.what-column What
                th Each
                th &nbsp;&nbsp;&nbsp;Qty
                th.extd Amount
                th &nbsp;
            tbody
              tr(ng-repeat='cartItem in $ctrl.Cart.cartItems track by $index')
                td.what.vert-align {{ cartItem.name }}
                td.vert-align {{ cartItem.price | currency:"$":0 }}
                td.vert-align
                  input.form-control.qty(ng-model='cartItem.quantity', name='quantity', type='number', maxlength='2', min='1', max='20', required='', step='1')
                td.extd.vert-align {{ cartItem.getTotal() | currency:"$":0 }}
                td.vert-align
                  a(ng-click='$ctrl.Cart.removeItem($index)')
                    span.glyphicon.glyphicon-trash.pull-right.has-error
            tfoot
              tr
                td.total(colspan='4') Total&nbsp;&nbsp;{{ $ctrl.Cart.getTotalCost() | currency:"$":0 }}
        .panel-footer
          input.btn.btn-default(ng-click='', type='button', name='keepShopping', value='Keep Shopping')
          input.btn.btn-warning.pull-right(ng-click='', type='submit', name='checkOut', value='Check Out »')
    .col-md-6(ng-repeat='product in $ctrl.products')
      p(style='height:50px;') {{ product.name }} (id = {{ product.id }}, price = {{ product.price }})
        addtocart(product='{{ product.id }}')
