.container
  h2 Shopping Cart
  .row
    .col-xs-4
      p One class pass
        addtocart(product='1')
      p Four class pass
        addtocart(product='2')
      p Eight class pass
        addtocart(product='3')
      p Twelve class pass
         addtocart(product='4')     
      p One class gift card
        addtocart(product='5')
      p Four class gift card
        addtocart(product='6')
      p Eight class gift card
        addtocart(product='7')
      p Twelve class gift card
        addtocart(product='8')
