.container
  h2 Shopping Cart
  .row
    .col-md-6
      form(name='cart', novalidate='')
        .panel.panel-default(aria-labelledby='cartPanelTitle')
          .panel-heading
            #cartPanelTitle.panel-title {{ $ctrl.Cart.getTotalItems() }} Items in your cart
          .panel-body
            table.table.table-hover.table-striped
              thead
                tr
                  th.what-column What
                  th Each
                  th &nbsp;&nbsp;&nbsp;Qty
                  th.extd Amount
                  th &nbsp;
              tbody
                tr(ng-show='$ctrl.Cart.isEmpty()')
                  td(colspan='4') There are no items in your cart.
                tr(ng-repeat='cartItem in $ctrl.Cart.cartItems track by $index')
                  td.what.vert-align {{ cartItem.name }}
                  td.vert-align {{ cartItem.price | currency:"$":0 }}
                  td.vert-align
                    input.form-control.qty(ng-model='cartItem.quantity', ng-change="$ctrl.updateQuantity('{{ cartItem.quantity }}', cartItem)", name='quantity', type='number', maxlength='2', min='1', max='20', required='', step='1')
                  td.extd.vert-align {{ cartItem.getTotal() | currency:"$":0 }}
                  td.vert-align
                    a(ng-click='$ctrl.Cart.removeItem($index)')
                      span.glyphicon.glyphicon-trash.pull-right.has-error
              tfoot
                tr
                  td.total(colspan='4') Total&nbsp;&nbsp;{{ $ctrl.Cart.getTotalCost() | currency:"$":0 }}
          .panel-footer
            input.btn.btn-default(ng-click='$ctrl.keepShopping()', type='button', name='keepShopping', value='Keep Shopping')
            input.btn.btn-warning.pull-right(ng-click='$ctrl.checkOut()', type='button', name='checkOut', value='Check Out »')
    .col-md-6
      form(name='checkout', ng-submit='', novalidate='')
        .panel.panel-default(aria-labelledby='paymentPanelTitle')
          .panel-heading
            #paymentPanelTitle.panel-title Checkout
          .panel-body
            p 
              b Payment information
            .form-group
              label.sr-only Credit card number
              input#ccNumber.form-control.card-number(name='ccNumber', ng-model='$ctrl.checkOutInfo.ccNumber', ng-pattern='/^[0-9]+$/', ng-minlength='15', ng-maxlength='19', maxlength='19' autocomplete='cc-number', required='', type='text', placeholder='Debit/credit card number')
              .help-block.has-error(ng-messages='checkout.ccNumber.$error', ng-show='checkout.ccNumber.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide a card number.
                div(ng-message='minlength') Card number must at least 15 digits.
                div(ng-message='maxlength') Card number must be less than 19 digits.              
                div(ng-message='pattern') Please only enter numbers.
            .form-group
              label.sr-only Expires
              .input-group
                select.form-control(name='ccExpMonth', ng-options='month for month in $ctrl.months', ng-model='$ctrl.checkOutInfo.ccExpMonth', required='', autocomplete='cc-exp-month')
                  option(value='', ng-disabled='true') Expiration Month
                span.input-group-addon /
                select.form-control(name='ccExpYear', ng-options='year for year in $ctrl.years', ng-model='$ctrl.checkOutInfo.ccExpYear', required='', autocomplete='cc-exp-year')
                  option(value='', ng-disabled='true') Expiration Year
              .help-block.has-error(ng-messages='checkout.ccExpMonth.$error', ng-show='checkout.$submitted', role='alert')
                div(ng-message='required') Please select a month for your card&apos;s expiration date.
              .help-block.has-error(ng-messages='checkout.ccExpYear.$error', ng-show='checkout.$submitted', role='alert')
                div(ng-message='required') Please select a year for your card&apos;s expiration date.
            .form-group
              label.sr-only Credit card security code
              input.form-control.cvv(name='ccCSC', ng-model='$ctrl.checkOutInfo.ccCSC', required='', ng-pattern='/^[0-9]+$/', ng-minlength='3', autocomplete='cc-csc', type='text', maxlength='4', placeholder='CSC')
              .help-block.has-error(ng-messages='checkout.ccCSC.$error', ng-show='checkout.ccCSC.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide the card security code.            
                div(ng-message='pattern') Please only enter numbers.
                div(ng-message='minlength') Must be at least 3 digits.
            p 
              b Purchaser
            .form-group
              label.sr-only First name
              input.form-control(name='ccFirstName', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.ccFirstName', required='', autocomplete='cc-given-name', type='text', maxlength='20', placeholder='First name')
              .help-block.has-error(ng-messages='checkout.ccFirstName.$error', ng-show='checkout.ccFirstName.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide the cardholder&apos;s first name.
            .form-group
              label.sr-only Last name
              input.form-control(name='ccLastName', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.ccLastName', required='', autocomplete='cc-family-name', type='text', maxlength='20', placeholder='Last name')
              .help-block.has-error(ng-messages='checkout.ccLastName.$error', ng-show='checkout.ccLastName.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide the cardholder&apos;s last name.
            .form-group
              label.sr-only Address
              input.form-control(name='streetAddress', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.streetAddress', required='', autocomplete='street-address', type='text', maxlength='255', placeholder='Street address')
              .help-block.has-error(ng-messages='checkout.streetAddress.$error', ng-show='checkout.streetAddress.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide the billing address.
            .form-group
              label.sr-only City
              input.form-control(name='city', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.city', required='', autocomplete='address-level2', type='text', maxlength='20', placeholder='City')
              .help-block.has-error(ng-messages='checkout.city.$error', ng-show='checkout.city.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide the billing city.
            .form-group
              label.sr-only State
              select.form-control(name='state', ng-options='state for state in $ctrl.states' ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.state', autocomplete='address-level1')
            .form-group
              label.sr-only ZIP code
              input.form-control(name='zipCode', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.zipCode', required='', autocomplete='postal-code', type='text', maxlength='10', placeholder='ZIP code')
              .help-block.has-error(ng-messages='checkout.zipCode.$error', ng-show='checkout.zipCode.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide the billing ZIP code.
            .form-group
              label.sr-only Email address
              input.form-control(name='email', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.email', required='', autocomplete='email', type='email', maxlength='80', placeholder='Email address')
              .has-error(ng-messages='checkout.email.$error', ng-show='checkout.email.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide the cardholder&apos;s email address.
                div(ng-message='email') Please supply a valid email address for the cardholder.
            .form-group
              label.sr-only Phone
              input.form-control(name='phone', ng-change='$ctrl.updateRecipient()', ng-model='$ctrl.checkOutInfo.phone', required='', autocomplete='tel', type='tel', maxlength='23', placeholder='Phone')
              .has-error(ng-messages='checkout.phone.$error', ng-show='checkout.phone.$dirty || checkout.$submitted', role='alert')
                div(ng-message='required') Please provide the cardholder&apos;s phone number.
            .form-group
              label.sr-only Instructions
              textarea.form-control(name='instructions', ng-model='$ctrl.checkOutInfo.instructions', rows='2', cols='20', placeholder='Instructions')
            p 
              b Recipient
            .checkbox
              label
                input(type='checkbox', ng-click='$ctrl.forSomeoneElse()', ng-model='$ctrl.checkOutInfo.forSomeoneElse', name='forSomeoneElse')
                | This is for someone else. Please supply their info below.
            fieldset(ng-disabled='!$ctrl.checkOutInfo.forSomeoneElse')
              .form-group
                label.sr-only Recipient&apos;s first name
                input#recipientFirstName.form-control(name='recipientFirstName', ng-model='$ctrl.checkOutInfo.recipientFirstName', required='', type='text', maxlength='14', placeholder="Recipient's first name")
                .has-error(ng-messages='checkout.recipientFirstName.$error', ng-show='checkout.recipientFirstName.$dirty || checkout.$submitted', role='alert')
                  div(ng-message='required') Please provide the recipient&apos;s first name.
              .form-group
                label.sr-only Recipient&apos;s last name
                input.form-control(name='recipientLastName', ng-model='$ctrl.checkOutInfo.recipientLastName', required='', type='text', maxlength='20', placeholder="Recipient's last name")
                .has-error(ng-messages='checkout.recipientLastName.$error', ng-show='checkout.recipientLastName.$dirty || checkout.$submitted', role='alert')
                  div(ng-message='required') Please provide the recipient&apos;s last name.
              .form-group
                label.sr-only Recipient&apos;s address
                input.form-control(name='recipientAddress', ng-model='$ctrl.checkOutInfo.recipientAddress', required='', type='text', maxlength='255', placeholder="Recipient's address")
                .has-error(ng-messages='checkout.recipientAddress.$error', ng-show='checkout.recipientAddress.$dirty || checkout.$submitted', role='alert')
                  div(ng-message='required') Please provide the recipient&apos;s street address.
              .form-group
                label.sr-only Recipient&apos;s city
                input.form-control(name='recipientCity', ng-model='$ctrl.checkOutInfo.recipientCity', required='', autocomplete='address-level2', type='text', maxlength='20', placeholder="Recipient's city")
                .has-error(ng-messages='checkout.recipientCity.$error', ng-show='checkout.recipientCity.$dirty || checkout.$submitted', role='alert')
                  div(ng-message='required') Please provide the recipient&apos;s city.
              .form-group
                label.sr-only Recipient&apos;s state
                select.form-control(name='recipientState', ng-options='state for state in $ctrl.states', ng-model='$ctrl.checkOutInfo.recipientState', autocomplete='address-level1')
              .form-group
                label.sr-only Recipient&apos;s ZIP code
                input.form-control(name='recipientZipCode', ng-model='$ctrl.checkOutInfo.recipientZipCode', required='', autocomplete='postal-code', type='text', maxlength='10', placeholder="Recipient's ZIP code")
                .has-error(ng-messages='checkout.recipientZipCode.$error', ng-show='checkout.recipientZipCode.$dirty || checkout.$submitted', role='alert')
                  div(ng-message='required') Please provide the recipient&apos;s ZIP code.
              .form-group
                label.sr-only Recipient&apos;s email address
                input.form-control(name='recipientEmail', ng-model='$ctrl.checkOutInfo.recipientEmail', required='', type='email', maxlength='80', placeholder="Recipient's email address")
                .has-error(ng-messages='checkout.recipientEmail.$error', ng-show='checkout.recipientEmail.$dirty || checkout.$submitted', role='alert')
                  div(ng-message='required') Please provide the recipient&apos;s email address.
                  div(ng-message='email') Please supply a valid email address for the recipient.
              .form-group
                label.sr-only Recipient&apos;s phone
                input.form-control(name='recipientPhone', ng-model='$ctrl.checkOutInfo.recipientPhone', required='', type='tel', maxlength='14', placeholder="Recipient's phone")
                .has-error(ng-messages='checkout.recipientPhone.$error', ng-show='checkout.recipientPhone.$dirty || checkout.$submitted', role='alert')
                  div(ng-message='required') Please provide the recipient&apos;s phone number.
              p 
                b How to apply the credit
              .form-group
                input(type='radio', name='methodToSend', ng-model='$ctrl.checkOutInfo.methodToSend', value="Apply credit to recipient's account (default)") 
                label(for='methodToSend_3') Apply credit to recipient&apos;s account (default)
                br
                input(type='radio', name='methodToSend', ng-model='$ctrl.checkOutInfo.methodToSend', value='Mail gift card to purchaser') 
                label(for='methodToSend_0') Mail gift card to purchaser
                br
                input(type='radio', name='methodToSend', ng-model='$ctrl.checkOutInfo.methodToSend', value='Mail gift card to recipient') 
                label(for='methodToSend_1') Mail gift card to recipient
                br
                input(type='radio', name='methodToSend', ng-model='$ctrl.checkOutInfo.methodToSend', value='Email gift card to recipient') 
                label(for='methodToSend_2') Email gift card to recipient
            p Class cards and workshop purchases are non-refundable. Class cards expire six months from their purchase date.
          .panel-footer
            input.btn.btn-warning.pull-right(type='submit', ng-click='$ctrl.placeOrder()', name='placeOrder', value='Place Order')
            br
            br
