.what {
  font-weight: bold;
}

.what-column {
  width: 50%;
}

.qty {
  width: 62px;
}

.total, .extd {
  font-weight: bold;
  text-align: right;
}

.table tbody>tr>td.vert-align{
  vertical-align: middle;
}
.center {
  text-align: center;
}

.cvv {
  width: 100px;
}

input[type="radio"]
{
  margin: 4px 4px 4px 4px;   
}

label {
  font-weight: normal;
}

.table>thead>tr>tr {
  border-bottom: 1px solid #ddd!important;
}

.right {
  text-align: right;
}

.braintree-hosted-fields-focused { 
  border: 1px solid #0275d8;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.braintree-hosted-fields-focused.focused-invalid {
  border: 1px solid #ebcccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
}

.form-group-special {
  @extend .form-group;
  margin-bottom: 0px!important;
}