.container
  h2 Shopping Cart
  .row(ng-repeat='product in $ctrl.ProductList.products')
    .col-xs-4
      p(style='height:60px;') {{ product.name }} (id = {{ product.id }}, price = {{ product.price }})
        addtocart(product='{{ product.id }}')
