form(name='form', ng-submit="$ctrl.forgotPassword(form)", novalidate='', ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}", autocomplete='on')
  .modal-header
    h3.modal-title Password Reset
  .modal-body
    .form-group
      label(for='email') Email a temporary password to:
      input.form-control(type='email', name='email', ng-change="clearServerError(form, 'email')", placeholder='Your email address', required='', autofocus='', ng-model='$ctrl.email', autocomplete='email')
      ng-messages.help-block.has-error(for='form.email.$error', ng-show='form.email.$dirty || form.$submitted', role='alert')
        ng-message(when='required') Please provide your email address.
        ng-message(when='email') Please provide a valid email address.
        ng-message(when='server') {{ $ctrl.errors.email }}
  .modal-footer
    button.btn.btn-warning(type='button', ng-click='$ctrl.cancel()') Cancel
    button.btn.btn-primary(type='submit') Send Password
