.container
  h1 Login
  p Schoolhouse Yoga supports Google-integrated logins and our own accounts.
    br
    |Don't have an account? 
    a(id='signup', href='/signup') Create one »
  hr
  .row
    .col-sm-12.col-md-4.col-md-offset-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Login with Google
        .panel-body
          google-button
    .col-sm-12.col-md-4
      .panel.panel-primary
        .panel-heading
          h3.panel-title Login with a SHY account
        .panel-body
          form.form(name='form', ng-submit='$ctrl.login(form)', novalidate='', ng-model-options="{'updateOn': 'default blur', 'debounce': {'default': 200, 'blur': 0}}", autocomplete='on')
            .form-group
              label Email
              input.form-control(type='email', id='email', name='email', ng-model='$ctrl.user.email', autofocus='', required='', autocomplete='email', maxlength='80', placeholder='email@example.com')
              ng-messages.help-block.has-error(for='form.email.$error', ng-show='form.email.$dirty || form.$submitted', role='alert')
                ng-message(when='required') Please provide an email address.
                ng-message(when='email') Please supply a valid email address.
            .form-group
              label Password
              input.form-control(type='password', id='password', name='password', ng-model='$ctrl.user.password', required='', autocomplete='current-password', maxlength='20', placeholder='Password')
              ng-messages.help-block.has-error(for='form.password.$error', ng-show='form.password.$dirty || form.$submitted', role='alert')
                ng-message(when='required') Please enter your password.
            .form-group.has-error
              p.help-block {{ $ctrl.errors.login }}
            button.btn.btn-lg.btn-warning(id='login', type='submit') Login 
          br
          a(id='forgotPassword', ng-click='$ctrl.forgotPassword()') Forgot password?
